<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<display-name>tecolotl-web</display-name>

	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<description>El número de alumnos por licencia</description>
		<param-name>alumno.licencia</param-name>
		<param-value>250</param-value>
	</context-param>

	<!-- servlet de jsf -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!--	paginas de bienvenida	-->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!--	manejo de errores	-->
	<error-page>
		<error-code>404</error-code>
		<location>/error/no-encontrado.xhtml</location>
	</error-page>

	<!--  Project Stage	-->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<description>Multiples archivos de configuración para la navegación</description>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>
			/WEB-INF/alumno/reglas-navegacion.xml,
			/WEB-INF/faces-config.xml
		</param-value>
	</context-param>

	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	<!--
        <security-constraint>

            <web-resource-collection>
                <web-resource-name>Paginas administrativas</web-resource-name>
                <description>Proteccion para las vistas de la administracion</description>
                <url-pattern>/administracion/*</url-pattern>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
                <http-method>PUT</http-method>
                <http-method>DELETE</http-method>
                <http-method>OPTIONS</http-method>
            </web-resource-collection>

            <auth-constraint>
                <description>Rol para al administracion</description>
                <role-name>administrador</role-name>
            </auth-constraint>

            <user-data-constraint>
                <description>Como los datos del usuario deben ser transmitidos</description>
                <transport-guarantee>NONE</transport-guarantee>
            </user-data-constraint>

        </security-constraint>

        <login-config>

            <auth-method>FORM</auth-method>

            <form-login-config>
                <form-login-page>/ingreso.xhtml</form-login-page>
                <form-error-page>/ingreso.xhtml</form-error-page>
            </form-login-config>

        </login-config>

        <security-role>
            <role-name>administrador</role-name>
        </security-role>
        -->
</web-app>