
#avatar #contorno {
    fill: black;
}

#avatar #ojo {
    fill: black;
}

svg .icono {
    stroke: white;
}

.uk-tooltip {
     /* 4 */
    background: #222A30;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    border-top: solid 3px #1E87F0;
    border-bottom: solid 3px #1E87F0;

}

