
#avatar #contorno {
    fill: black;
}

#avatar #ojo {
    fill: black;
}

svg .icono {
    stroke: white;
}

.uk-tooltip {
    background: #222A30;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    border-top: solid 3px #1E87F0;
    border-bottom: solid 3px #1E87F0;
    display: inline-block;

}

.uk-tooltip-inner::first-letter{
    /*color: #B31F0C;*/
    text-transform: capitalize;

}

.uk-notification-message div::first-letter{
    text-transform: uppercase !important;
    /*display: inline-block;*/
}

/*satisfactorio*/
.uk-notification-message-primary {
    background-color: rgba(30, 135, 240, 0.8);
    border-radius: 2px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-top: solid 3px rgba(34, 42, 48, 0.8);
    border-bottom: solid 3px rgba(34, 42, 48, 0.8);
    margin-bottom: 5px;
}

/*peligro*/
.uk-notification-message-warning {
    background-color: rgba(250, 160, 90, 0.8);
    opacity: 0.3;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-top: solid 3px rgba(34, 42, 48, 0.8);
    border-bottom: solid 3px rgba(34, 42, 48, 0.8);
    margin-bottom: 5px;
}
/*error*/
.uk-notification-message-danger {
    background-color: rgba(240, 80, 110, 0.8);
    opacity: 0.3;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-top: solid 3px rgba(34, 42, 48, 0.8);
    border-bottom: solid 3px rgba(34, 42, 48, 0.8);
    margin-bottom: 5px;
}

.primer-letra::first-letter{
    color:blue;
}

.salir{
    background: black;
}

.salir:hover{
    background: white;
    border: black 2px solid;
}

.fuente:focus{
    color: white;
}

.busca{
    background: #1e87f0;
}

.busca:hover{
    background: black;
    color: white;
}