*{
    margin:0;
    padding: 0;


}
.contenedor-date{
    min-width: 20%;
    max-width: 300px;
    height: auto;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*margin-left: 10px;*/
    margin-top: 10px;
    position: absolute;
    z-index: 10000;
    padding: 10px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    font-size: 13px;

}
.contenedor-date:after,.contenedor-date:before{
    display: table;
}
.contenedor-date h4{
    font-size: 13px;
    color: black;
    /*font-weight:bolder;*/
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.title-calendar{
    /*background-color: #0F7AE5;*/
    height: 20px;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.calendar-year{
    /*background-color: #333333;*/
    color: white;
    height: 20px;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-mount{
    /*background-color: #999999;*/
    color: white;
    height: 20px;
    text-transform: capitalize;
    /*text-align: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-day h4{
    margin:0;
    padding: 0;
}
.calendar-week{
    display: flex;
    background-color: #0F7AE5;
    color: white;
    flex-wrap: wrap;
    text-transform: capitalize;
    justify-content: center;

}
.calendar-week div{
    width: 14.2857143%;
    text-align: center;
}
.calendar-day{
    display: flex;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    border-left: 1px solid #CACFD2;
    /*justify-content: space-between;*/

}

.calendar-day div{
    width: 14.2857143%;
    text-align: center;
    border-bottom: 1px solid #CACFD2;
    border-right: 1px solid #CACFD2;
    box-sizing: border-box !important;

}
.calendar-mount svg{
    fill: #0F7AE5;
}
.calendar-year svg{
    fill: #0F7AE5;
}
.calendar-mount svg:hover{
    fill: #999999;
}
.calendar-year svg:hover{
    fill: #999999;
}

