.tablero-licencia{
    display: inline-grid;
    width: 400px;
    grid-template-areas: "imagen informacion"
                         "imagen datos-acceso";
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: auto auto;
    gap: 3px 5px;
    margin-bottom: 10px;
    border: 2px solid #0e6dcd;
    padding: 5px;
}
.tablero-licencia  p{
    margin: 5px;
    font-size: 15px;
}
.tablero-licencia h6{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 8px;
}
.imagen{
    grid-area: imagen;
    width: 70px;
    justify-self: center;
    align-self: center;

}
.informacion{
    grid-area: informacion;
}

.datos{
    grid-area: datos-acceso;
}
.informacion,.datos{
    text-align: initial;
}
.imagen > img{
    border-radius: 50%;
    width: 100%;
}
#modal-password .uk-modal-body{
    background: #fff;
    min-height: 600px;
    max-height: calc(100vh - 300px);
}
#modal-password > .uk-modal-body {
    text-align: center;
}