.columna-pregunta{
    background-color: #2AABE2;
    padding-left: 0;
}
.tabla-ordenar{
    width: 100%;
    margin:0;
    font-family: 'Sniglet', "Arial Black";
    /*border: 2px solid #AEB6BF;*/
    border-collapse: collapse;
    color: black;

}

.titulo-tabla>tr>th{
    padding:10px 0;
    /*border-right: 2px solid #AEB6BF;*/
    border-bottom:1px solid white;
}
.cuerpo-tabla>tr>td{
    padding:10px 0;
    border-right: 1px solid white;

}
.cuerpo-tabla>tr>td:nth-child(1){
    background-color: #9955FF;
}
.cuerpo-tabla>tr>td:nth-child(2){
    background-color: #5500D4;
    border-bottom:1px solid white;
}


.respuestas-ordenar{
    background-color: #4d4d4d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
    min-width: 200px;
}
.respuesta{
    background-color:white;
    color: black;
    font-style: italic;
    font-weight: bolder;
    /*border: 2px solid black;*/
    border-radius: 4px;
    padding: 2px 4px;
    min-width:100px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    box-shadow: 1.5px 1.5px 8px white;
    margin-right: 10px;
}
.cuerpo-tabla  .respuesta{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    display: inline-block;
}

.imagen-ordenar{
    width: 140px;
    height: auto;
    margin: auto;
}
