
:root{
    --color-primario : #1e87f0;
    --color-secundario : #222A30;
}

.contenido{
    min-height: calc(100vh - 153px);
    grid-area: contenido;
    display: grid;
    grid-template-areas:  "tabla tabla";
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 7fr;
    row-gap: 20px;
    column-gap: 40px;
}
.navegacion{
    width: 80px;
    height: calc(100vh - 110px);
    border: 2px solid white;
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
.informacion-profesor{
    grid-area: informacion-profesor;

}
.informacion-escuela{
    grid-area: informacion-escuela;
    display: grid;
    grid-template-areas: "inicio final" "escuela escuela";
    gap: 1em;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr 5fr;
    padding: 0 200px;

}
.informacion-escuela > div:first-child{
    grid-area: inicio;
    align-self: center;
}
.informacion-escuela > div:nth-child(2){
    grid-area: final;
    align-self: center;
}
.informacion-escuela > div:last-child{
    grid-area: escuela;
    align-self: center;
}

.tabla{
    grid-area: tabla;
}

.informacion-profesor .uk-card{
    border: 2px solid var(--color-secundario);
}

.encabezado{
    padding: 10px 6px;
    background-color: var(--color-primario);
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.encabezado + div{
    margin-top: 10px;
    border: 2px solid var(--color-secundario) ;
    padding: 10px 5px;
    text-align: center;
    font-weight: 900;
}
.tabla > table{
    text-align: center;
    box-shadow: 3px 3px 6px gray;
}
.tabla > table > thead  th{
    text-align: inherit;
    color: white;
}
 .informacion-profesor .uk-card-body {
    padding: 10px;
    box-sizing: border-box;
     display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
}
.informacion-profesor .uk-card{
    height: 100%;
    box-shadow: 3px 3px 6px gray;

}

.informacion-profesor .uk-card-body p{
    font-size: 17px;
}