.uk-dropdown-nav > li > a {
    color: #1e87f0;
    text-transform: capitalize;
}
h1 {
    text-transform: capitalize;
}

.mensaje-licencias{
    min-height: 80px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 4px 0;
    font-size: 15px;
    font-weight: 900;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.--mensaje-licencia-restante{
    background-color: #F1C40F;
    color: black;
}
.--mensaje-licencia-caducada{
    background-color: #ED1C24;
    color: white;
}

.mensaje-licencias:hover{
    cursor: pointer;
}
.cerrar-mensaje{
    position: absolute;
    right: 3px;
    top: 2px;
}
.ayuda-imagen {
    width: 25px;
    margin-top: 10px;
    transition:transform linear 0.3s;
}
.ayuda-imagen path,.ayuda-imagen circle{
    fill: black;
}
.ayuda-imagen:hover{
    cursor: pointer;
    transform: scale(1.5);
}
@media screen and (max-width: 1280px){
 table{
     font-size: 14px;
 }
}
