.card-activity-A1, .card-activity-A2, .card-activity-B1, .card-activity-B2, .card-activity-C1 {
  padding: 1.4px;
  border-radius: 8px;
}

.cat-txt, .question-tag, .activity-input {
  font-family: 'Sniglet', "Arial Black", sans-serif;
  font-weight: bold;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 3px;
  color: inherit;
  align-items: center;
}

.card-media {
  height: 200px;
}

.card-media img {
  width: 100%;
}

.card-activity-A1 {
  background-color: #E80CA2;
  color: #E80CA2;
}

.card-activity-A1 .uk-radio {
  border-color: #E80CA2;
}

.card-activity-A1 .uk-radio:checked:focus {
  background-color: #E80CA2;
}

.card-activity-A1 .uk-checkbox {
  border-color: #E80CA2;
}

.card-activity-A1 .uk-checkbox:checked:focus {
  background-color: #E80CA2;
}

.card-activity-A1 .uk-card-footer svg {
  display: block;
  width: 43px;
  height: 30px;
  stroke: #E80CA2;
}

.card-activity-A2 {
  background-color: #D35400;
  color: #D35400;
}

.card-activity-A2 .uk-radio {
  border-color: #D35400;
}

.card-activity-A2 .uk-radio:checked:focus {
  background-color: #D35400;
}

.card-activity-A2 .uk-checkbox {
  border-color: #D35400;
}

.card-activity-A2 .uk-checkbox:checked:focus {
  background-color: #D35400;
}

.card-activity-A2 .uk-card-footer svg {
  display: block;
  width: 43px;
  height: 30px;
  stroke: #D35400;
}

.card-activity-B1 {
  background-color: #E89E0C;
  color: #E89E0C;
}

.card-activity-B1 .uk-radio {
  border-color: #E89E0C;
}

.card-activity-B1 .uk-radio:checked:focus {
  background-color: #E89E0C;
}

.card-activity-B1 .uk-checkbox {
  border-color: #E89E0C;
}

.card-activity-B1 .uk-checkbox:checked:focus {
  background-color: #E89E0C;
}

.card-activity-B1 .uk-card-footer svg {
  display: block;
  width: 43px;
  height: 30px;
  stroke: #E89E0C;
}

.card-activity-B2 {
  background-color: #650CE8;
  color: #650CE8;
}

.card-activity-B2 .uk-radio {
  border-color: #650CE8;
}

.card-activity-B2 .uk-radio:checked:focus {
  background-color: #650CE8;
}

.card-activity-B2 .uk-checkbox {
  border-color: #650CE8;
}

.card-activity-B2 .uk-checkbox:checked:focus {
  background-color: #650CE8;
}

.card-activity-B2 .uk-card-footer svg {
  display: block;
  width: 43px;
  height: 30px;
  stroke: #650CE8;
}

.card-activity-C1 {
  background-color: #00a8ec;
  color: #00a8ec;
}

.card-activity-C1 .uk-radio {
  border-color: #00a8ec;
}

.card-activity-C1 .uk-radio:checked:focus {
  background-color: #00a8ec;
}

.card-activity-C1 .uk-checkbox {
  border-color: #00a8ec;
}

.card-activity-C1 .uk-checkbox:checked:focus {
  background-color: #00a8ec;
}

.card-activity-C1 .uk-card-footer svg {
  display: block;
  width: 43px;
  height: 30px;
  stroke: #00a8ec;
}

.uk-card {
  background-clip: padding-box;
  border: solid 3px transparent;
  color: inherit !important;
}

.uk-card .uk-card-body {
  padding: 50px 20px;
}

.uk-card-header:before {
  content: "";
  display: none;
}

.question-tag {
  font-size: 17px;
  color: black;
}

.uk-dropdown.uk-open {
  padding: 10px;
}

.activity-input {
  display: inline-block;
  padding: 7px 9px !important;
  width: 142px;
  border-style: solid;
}

.activity-input:focus {
  outline: none;
}

.uk-dropdown span:hover {
  cursor: pointer;
  color: black;
}
