
progress{
    width: 120px;
    height: 18px;
    background-color: #00a8ec;
    /*border-radius: 5px;*/
    border: 1px solid black;
}
progress:indeterminate{
    color: transparent;
}

progress::-webkit-progress-bar {
    background-color: #00a8ec;
    /*border-radius: 5px;*/
    overflow: hidden;
}

/* 2 */
progress:indeterminate::-moz-progress-bar {
    width: 0;
}

/*
 * Progress bar
 * 1. Remove right border in IE11 and Edge
 */
progress::-webkit-progress-value {
    background-color: #0079b9;
    transition: width 0.6s ease;
}

progress::-moz-progress-bar {
    background-color: #0079b9;
}

progress::-ms-fill {
    background-color: #0079b9;
    transition: width 0.6s ease;
    /* 1 */
    border: 0;
}


div > div > div > div + div + div + div + div + div > img{
    width: 40px;
    height: 40px;
    transition: all 1s linear;
    cursor: pointer;
}

div > div > div > div + div + div + div + div + div > img:hover{
    transform: scale(1.5,1.5);
}

.selector{
    height: 40px;
}

.padding-titulo{
    padding-left: 10px;
}

.padding-titulo:first-letter{
    text-transform: uppercase;
}

.botones{
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.boton-maestro-base{
    background-color: var(--color-nav-primary);
    padding: 8px 25px;
    color:white;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.boton-maestro-base:hover{
    text-decoration: none;
    background-color: var(--color-barra-nav);
    color: white;
}

.botones > .boton-maestro-base{
    margin-left: 15px;
}
#tabla-vacia > div:first-child{
    background-color: #ceccc2;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#tabla-vacia > div:first-child span{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    width: calc(100%/7);
    text-align: center;
}

#tabla-vacia > div:nth-child(2){
    height: 500px;
    background: url("#{resource['img/vacio.svg']}") #FFF5EE no-repeat center center/500px;
}

progress[value]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background: darkgray;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: solid 3px #00a8ec;
    overflow: hidden;
}

.borde-home{
    font-family: 'Sniglet', "Arial Black", serif;
    text-transform: capitalize !important;
    height: 28px;
    border: 3px solid var(--turquesa-primary-color);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 19px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.uk-margin > div > div:nth-child(8) > div > span{
    font-weight: bold;
    position: absolute;
    left: 34%;
    top: 3%;
    font-size: 22px;
    color: white;
}

.uk-margin > div > div:nth-child(8) > div{
    position: relative;
}

.borde-menu2 > form > input + input{
    color: #1665B4;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid var(--color-nav-primary);
    border-radius: 5px;
    font-weight: 800;
    padding-bottom: 10px;
    padding-top: 8px;
}

.borde-menu2{
    height: 28px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 7px;
    margin-top: 19px;
    left: 125%;
}

#modal-password .uk-modal-body > p{
font-weight: bold;
}


