.borde-menu1{
    border: 3px solid var(--color-nav-primary);
    height: 28px;
    width: 130px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 7px;
    margin-top: 19px;
    left: 510%;
}

.borde-menu1 > form > a{
    color: #1665B4;
}

.A1 .uk-card-footer a{
    color: var(--psecundary-option-three);
}

.A2 .uk-card-footer a{
    color: #D35400;
}

.B1 .uk-card-footer a{
    color: var(--tsecundary-option-one);
}

.B2 .uk-card-footer a{
    color: var(--asecundary-option-one);
}

.C1 .uk-card-footer a{
    color: var(--color-nav-primary);
}

.C2 .uk-card-footer a{
    color: var(--color-peligro);
}