.borde-menu1{
    border: 3px solid var(--color-nav-primary);
    height: 18px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 7px;
    margin-top: 18px !important;
    left: 160%;
}

.borde-menu1 > form > a{
    color: #1665B4;
}

.A1 .uk-card-footer a{
    color: var(--psecundary-option-three);
}

.A2 .uk-card-footer a{
    color: #D35400;
}

.B1 .uk-card-footer a{
    color: var(--tsecundary-option-one);
}

.B2 .uk-card-footer a{
    color: var(--asecundary-option-one);
}

.C1 .uk-card-footer a{
    color: var(--color-nav-primary);
}

.C2 .uk-card-footer a{
    color: var(--color-peligro);
}

#temario
{

}
#temario > div{
    display: none;
    z-index: 1024;
    min-height: 200px;
    width: 100%;
    background-color: #f4f3ed;
    border: 3px solid var(--turquesa-primary-color);
    border-radius: 8px;
    padding: 20px;
}
#temario > div.temario-open{
    display: block;
}
#temario > div.temario-open > ul > li > span{
    border: none;
}
#temario > div.temario-open > ul > li > span:hover{
    cursor: pointer;
    color: var(--turquesa-primary-color) !important;
}
#temario + div > span{
    height: 22px;
}
#temario > div > div > span:hover{
    cursor: pointer;
}

.js-filter .uk-card .uk-card-footer ul > li{
    text-align: center;
    font-family: Sniglet, 'Arial Blac', sans-serif;
    color: black;
}
.js-filter .uk-card .uk-card-footer ul > li:hover{
    cursor: pointer;
    color: var(--turquesa-primary-color)!important;
}