@keyframes preguntas {
    0%{
        transform: scale(1.04,1.04);
        color: var(--turquesa-primary-color);
    }
    15%{
        transform: scale(1.06,1.06);
        color: var(--turquesa-primary-color);
    }
    30%{
        transform: scale(1.08,1.08);
        color: var(--turquesa-primary-color);
    }
    45%{
        transform: scale(1.10,1.10);
        color: var(--turquesa-primary-color);
    }
    60%{
        transform: scale(1.08,1.08);
        color: var(--turquesa-primary-color);
    }
    75%{
        transform: scale(1.06,1.06);
        color: var(--turquesa-primary-color);
    }
    100%{
        transform: scale(1.04,1.04);
        color: var(--turquesa-primary-color);
    }

}

.uk-card-media-top {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    display: none;
}

.video-error {
    display: none;
}

.uk-card a[uk-icon*="youtube"] {
    fill: red;
}

.uk-card a[uk-icon*="youtube"]:hover {
    fill: white;
}

.card-border {
    background-clip: padding-box; /* !importanté */
    border: solid 3px transparent; /* !importanté */
    border-radius: 8px;
}

.card-border:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px; /* !importanté */
    border-radius: inherit; /* !importanté */
}
.cat-txt{
    font-family: 'Sniglet', "Arial Black", sans-serif;
    font-weight: bold;
}

.A1 .cat-txt{
    color: var(--psecundary-option-three);
}
li .A1{
    background-color: var(--psecundary-option-three) !important;
}

.A1>div>div>.uk-card-footer > div > div > span > input {
    background-color: var(--psecundary-option-three);
    color: white;
    width: 80px;
}
.A1>div>div>.uk-card-footer > div > div > span{
    padding-left: 63px;
}
.A1>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--psecundary-option-three);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

.A2 .cat-txt{
    color: #D35400;
}
li .A2{
    background-color: #D35400;
}
.A2>div>div>.uk-card-footer > div > div > span > input{
    background-color: #D35400;
    color: white;
    width: 80px;
}
.A2>div>div>.uk-card-footer > div > div > span{
    padding-left: 63px;
}
.A2>div>div>.uk-card-header>div>div>:nth-child(3){
    color: #D35400;
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}
.A1A2 .cat-txt{
    color: linear-gradient(to right, var(--psecundary-option-three), #D35400);
}

li .A1A2{
    background: linear-gradient(to right, var(--psecundary-option-three), #D35400);
}
.A1A2>div>div>.uk-card-footer > div > div > span > input{
    background: linear-gradient(to right, var(--psecundary-option-three), #D35400);
    color: white;
    width: 80px;
}
.A1A2>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.A1A2>div>div>.uk-card-header>div>div>:nth-child(4){
    background: -webkit-linear-gradient(top right, var(--psecundary-option-three), #D35400);
    background: linear-gradient(to left bottom, var(--psecundary-option-three), #D35400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    width: 196px;
    display: inline-block;
    text-align: center;
}
.B1 .cat-txt{
    color: var(--tsecundary-option-one);
}
li .B1{
    background-color:var(--tsecundary-option-one) !important;
}

.B1>div>div>.uk-card-footer > div > div > span > input{
    background-color: var(--tsecundary-option-one) !important;
    color: white;
    width: 80px;
}
.B1>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.B1>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--tsecundary-option-one) !important;
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}
.B2 .cat-txt{
    color: var(--asecundary-option-one);
}

li .B2{
    background-color:var(--asecundary-option-one);
}
.B2>div>div>.uk-card-footer > div > div > span > input{
    background-color: var(--asecundary-option-one);
    color: white;
    width: 80px;
}
.B2>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.B2>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--asecundary-option-one);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}
.C1 .cat-txt{
    color: var(--color-nav-primary);
}

li .C1{
    background-color:var(--color-nav-primary);
}
.C1>div>div>.uk-card-footer > div > div > span > input {
    background-color: var(--color-nav-primary);
    color: white;
    width: 80px;
}
.C1>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.C1>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--color-nav-primary);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}
.C2 .cat-txt{
    color: var(--color-peligro);
}

li .C2{
    background-color:var(--color-peligro);
}
.C2>div>div>.uk-card-footer > div > div > span > input {
    background-color: var(--color-peligro);
    color: white;
    width: 80px;
}
.C2>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.C2>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--color-peligro);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

.card-actividad{
    padding: 1.4px;
    border-radius: 8px;
}

li .uk-card .uk-card-body{
  height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.uk-subnav-alumno li.uk-active:nth-child(1) a {
    background-color:var(--turquesa-primary-color);
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(2) a {
    background-color:var(--psecundary-option-three);
    color: white;
}

.uk-subnav-alumno li:nth-child(2) a:hover {
    background-color:var(--psecundary-option-three);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(3) a {
    background-image:linear-gradient(to right, var(--psecundary-option-three), #D35400);
    color: white;
}

.uk-subnav-alumno li:nth-child(3) a:hover {
    background-image:linear-gradient(to right, var(--psecundary-option-three), #D35400);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(4) a {
    background-color:#D35400;
    color: white;
}

.uk-subnav-alumno li:nth-child(4) a:hover {
    background-color:#D35400;
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(5) a {
    background-color:var(--tsecundary-option-one);
    color: white;
}
.uk-subnav-alumno li:nth-child(5) a:hover {
    background-color:var(--tsecundary-option-one);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(6) a {
    background-color:var(--asecundary-option-one);
    color: white;
}
.uk-subnav-alumno li:nth-child(6) a:hover {
    background-color:var(--asecundary-option-one);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(7) a {
    background-color:var(--color-nav-primary);
    color: white;
}
.uk-subnav-alumno li:nth-child(7) a:hover {
    background-color:var(--color-nav-primary);
    /*opacity:0.3;*/
    color: white;
}
.uk-subnav-alumno li.uk-active:nth-child(8) a {
    background-color:var(--color-peligro);
    color: white;
}
.uk-subnav-alumno li:nth-child(8) a:hover {
    background-color:var(--color-peligro);
    /*opacity: 0.3;*/
    color: white;
}
#search-form input:focus{
    background-color:paleturquoise ;
    color:black;
    font-weight: bold;
}

.modal-contenedor-transcrip{
    overflow: auto;
    height: 60vh;
}
span.personaje{
    color: #0e6ecd;
    font-weight: bold;
}

#transcripcion strong{
    color: #E89E0C;
}

.tecolotl-card h6{
    font-family: 'Sniglet', "Arial Black", sans-serif;
    text-align: center;
    font-size: 17px;
    z-index: 4;
    animation-name: preguntas;
    animation-duration: 0.8s;
    animation-iteration-count: 5;
    animation-timing-function: linear;
    transition: all 0.3s linear;
}

.tecolotl-card h6:hover{
    transform: scale(1.20,1.20);
    color: var(--turquesa-primary-color);
}

.uk-card-media-top > .uk-inline > img{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.uk-card-media-top > .uk-inline{
    width: 100%;
    height: 100%;
}
.uk-card-footer img{
    display: none;
}
.uk-card-footer svg{
    width: 43px;
    height: 30px;
    display: block;
}
.A1 .uk-card-footer svg, .A1 .uk-card-footer svg .icono, .A1 .uk-card-footer svg rect,.A1 .uk-card-footer svg line,.A1 .uk-card-footer svg path,
.A1 .uk-card-footer svg polygon,.A1 .uk-card-footer svg polyline{
    stroke: var(--psecundary-option-three)!important;
}
.A1 .uk-card-footer svg circle{
    fill: var(--psecundary-option-three)!important; ;
}
.A2 .uk-card-footer svg, .A2 .uk-card-footer svg .icono, .A2 .uk-card-footer svg rect,.A2 .uk-card-footer svg line,.A2 .uk-card-footer svg path,
.A2 .uk-card-footer svg polygon,.A2 .uk-card-footer svg polyline{
    stroke: #D35400;

}
.A2 .uk-card-footer svg circle{
    fill: var(--psecundary-option-three)!important; ;
}
.B1 .uk-card-footer svg, .B1 .uk-card-footer svg .icono, .B1 .uk-card-footer svg rect,.B1 .uk-card-footer svg line,.B1 .uk-card-footer svg path,
.B1 .uk-card-footer svg polygon,.B1 .uk-card-footer svg polyline{
    stroke: var(--tsecundary-option-one);

}
.B1 .uk-card-footer svg circle{
    fill: var(--psecundary-option-three)!important; ;
}
.B2 .uk-card-footer svg, .B2 .uk-card-footer svg .icono, .B2 .uk-card-footer svg rect,.B2 .uk-card-footer svg line,.B2 .uk-card-footer svg path,
.B2 .uk-card-footer svg polygon,.B2 .uk-card-footer svg polyline{
    stroke: var(--asecundary-option-one);
}
.B2 .uk-card-footer svg circle{
    fill: var(--psecundary-option-three)!important; ;
}
.C1 .uk-card-footer svg, .C1 .uk-card-footer svg .icono, .C1 .uk-card-footer svg rect,.C1 .uk-card-footer svg line,.C1 .uk-card-footer svg path,
.C1 .uk-card-footer svg polygon,.C1 .uk-card-footer svg polyline{
    stroke: var(--color-nav-primary);
}
.C1 .uk-card-footer svg circle{
    fill: var(--psecundary-option-three)!important; ;
}
.C2 .uk-card-footer svg, .C2 .uk-card-footer svg .icono, .C2 .uk-card-footer svg rect,.C2 .uk-card-footer svg line,.C2 .uk-card-footer svg path,
.C2 .uk-card-footer svg polygon,.C2 .uk-card-footer svg polyline{
    stroke: var(--color-peligro);
}
.C2 .uk-card-footer svg circle{
    fill: var(--psecundary-option-three)!important; ;
}

#formulario-asignar-tarea + input{
    padding: 0 25px;
}
#formulario-asignar-tarea + input + button{
    padding: 0 25px;
}