.filtro-calificacion{
    list-style: none;
}

.avance{
    /*background-color: #00a49d;*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

[class^="bmap"]{
    width: 95%;
    height: 200px;
    /*border: 3px solid #444444;*/
    box-shadow: 0 8px 5px #999999 ;
}
.rango{
    display: block;
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 13px;
    background: rgb(238,2,2);
    background: linear-gradient(90deg, rgba(238,2,2,1) 1%, rgba(227,231,76,0.8715861344537815) 38%, rgba(228,255,0,1) 76%, rgba(0,255,38,1) 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 20px;
    border-radius: 8px;
}
.rango:hover{
    opacity: 1;
}
.rango::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background: #17202A;
    border-radius: 50%;
    cursor: pointer;
}
.rango::-moz-range-thumb {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.mapa-mental > div{
    border-bottom: 8px solid #0e6dcd;
}

.mapa-mental input[type='range'] + p {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}

.mapa-mental > div > div + div > p{
    color: red;
}
.mapa-mental textarea{
    height: 90px;
}

.mapa-mental form  > .comentario textarea{
    height: 75%;
    box-sizing: border-box;
}

.bmap-1{
    background: url("#{resource['img/preview/1.jpg']}") no-repeat center center/100% 100%;
}
.bmap-2{
    background: url("#{resource['img/preview/2.jpg']}") no-repeat center center/100% 100%;
}
.bmap-3{
    background: url("#{resource['img/preview/3.jpg']}") no-repeat center center/100% 100%;
}
.bmap-4{
    background: url("#{resource['img/preview/4.jpg']}") no-repeat center center/100% 100%;
}
.bmap-5{
    background: url("#{resource['img/preview/5.jpg']}") no-repeat center center/100% 100%;
}
.bmap-6{
    background: url("#{resource['img/preview/6.jpg']}") no-repeat center center/100% 100%;
}
.bmap-7{
    background: url("#{resource['img/preview/7.jpg']}") no-repeat center center/100% 100%;
}
.bmap-8{
    background: url("#{resource['img/preview/8.jpg']}") no-repeat center center/100% 100%;
}
.bmap-9{
    background: url("#{resource['img/preview/9.jpg']}") no-repeat center center/100% 100%;
}
.bmap-10{
    background: url("#{resource['img/preview/10.jpg']}") no-repeat center center/100% 100%;
}
.bmap-11{
    background: url("#{resource['img/preview/11.jpg']}") no-repeat center center/100% 100%;
}
.bmap-12{
    background: url("#{resource['img/preview/12.jpg']}") no-repeat center center/100% 100%;
}
.bmap-13{
    background: url("#{resource['img/preview/13.jpg']}") no-repeat center center/100% 100%;
}
.bmap-14{
    background: url("#{resource['img/preview/14.jpg']}") no-repeat center center/100% 100%;
}
.bmap-15{
    background: url("#{resource['img/preview/15.jpg']}") no-repeat center center/100% 100%;
}