#formulario-grupo span[id^="formulario-grupo"]{
    display: block;
    border: 1.5px solid #1665B4;
    border-radius: 5px;
    padding: 5px 2px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

ul > li > span {
    font-family: 'Sniglet', "Arial Black", serif;
    color: black !important;
    text-transform: capitalize !important;
    border: 3px solid lightseagreen;
    width: 60px;
    height: 28px;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
}

#graficas > div > span{
    display: inline-block;
    margin-left: 5px;
}

.padding-titulo{
    padding-left: 10px;
}