#formulario-grupo span[id^="formulario-grupo"]{
    display: block;
    border: 1px solid #1665B4;
    border-radius: 5px;
    padding: 5px 2px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}