#formulario-grupo span[id^="formulario-grupo"]{
    display: block;
    border: 1.5px solid #1665B4;
    border-radius: 5px;
    padding: 5px 2px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}

ul > li > span {
    font-family: 'Sniglet', "Arial Black", serif;
    color: black !important;
    border: 3px solid var(--turquesa-primary-color);
    height: 28px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

#graficas > div > span{
    display: inline-block;
    margin-left: 5px;
}

.padding-titulo{
    padding-left: 10px;
}

.uk-modal-dialog .uk-modal-body{
    border-bottom:3px solid #0e6dcd;
}
.boton-reporte{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding-top: 83px;
}

.uk-container > ul + div{
    border: 3px solid var(--color-nav-primary);
    height: 32px;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin-bottom: 19px !important;
    text-transform: uppercase;
}

.uk-container > ul + div > form > input + a{
    color: #1665B4;
    font-size: 14px;
}

.scroll-profesor{
    scrollbar-color: var(--turquesa-primary-color) var(--turquesa-primary-color);
    scrollbar-width: thin;
}

.scroll-profesor::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.scroll-profesor::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px black;
    border-radius: 10px;
}

/* Handle */
.scroll-profesor::-webkit-scrollbar-thumb {
    background: var(--turquesa-primary-color);
    border-radius: 10px;
}

/* Handle on hover */
.scroll-profesor::-webkit-scrollbar-thumb:hover {
    background: rgba(52, 73, 94, 0.5);
}

.uk-notification-message {
    border: 3px solid var(--color-nav-primary);
    border-radius: 8px;
    color: black;
    font-weight: 900;
    background: white !important;
}
