.calificar input[type="button"]{
    display: block;
    margin-left: auto;
}


.calificar > form {
   padding-bottom: 10px;
    border-bottom: 2px solid #00a49d;

}
.calificar > form  > div:nth-child(2n) {
    background-color: rgba(189, 195, 199,0.5);
}
h2{
    background-color: white;
}
ul{
    list-style: none;
}

.calificar > form > div{
    margin-top: 8px!important;
}
.calificar > form > div > div > :nth-child(1){
    font-weight: bold;
    color: black;
}

.calificar > form > div > div:first-child > :last-child{
    display: block;
    padding: 3px;
    margin-top: 14px;
    border: 2px solid #F4D03F;
}
.calificar > form > div > div:last-child > span{
    display: inline-block;
    width: 50%;
    color: red;
    text-align: center;
}

.rango{
    display: block;
    width: 98%;
    -webkit-appearance: none;
    appearance: none;
    height: 13px;
    background: rgb(238,2,2);
    background: linear-gradient(90deg, rgba(238,2,2,1) 1%, rgba(227,231,76,0.8715861344537815) 38%, rgba(228,255,0,1) 76%, rgba(0,255,38,1) 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}
.rango:hover{
    opacity: 1;
}
.rango::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    background: #17202A;
    border-radius: 50%;
    cursor: pointer;
}
.rango::-moz-range-thumb {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}