.modal::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px black;
    border-radius: 10px;
}

/* Handle */
.modal::-webkit-scrollbar-thumb {
    background: #00A8EC;
    border-radius: 10px;
}

/* Handle on hover */
.modal::-webkit-scrollbar-thumb:hover {
    background: #1665B4;
}
