.boton-regresa{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.boton-maestro-base{
    background-color: var(--color-nav-primary);
    padding: 8px 25px;
    color:white;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.boton-maestro-base:hover{
    text-decoration: none;
    background-color: var(--color-barra-nav);
    color: white;
}

.boton-cerrar{
    border: 3px solid var(--color-nav-primary);
    height: 28px;
    width: 130px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 7px;
    margin-top: 19px;
}

.borde-cerrar > form > a{
    color: #1665B4;
}