.uk-card-media-top {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    display: none;
}

.video-error {
    display: none;
}

.uk-card a[uk-icon*="youtube"] {
    fill: white;
}

.uk-card a[uk-icon*="youtube"]:hover {
    fill: red;
}

.card-border {
    background-clip: padding-box; /* !importanté */
    border: solid 3px transparent; /* !importanté */
    border-radius: 8px;
}

.card-border:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -3px; /* !importanté */
    border-radius: inherit; /* !importanté */
}

.tecolotl-card{
    height: 50px;
}

li .A1{
    background-color: var(--psecundary-option-three) !important;
}

.A1>div>div>.uk-card-footer > div > div > span > input {
    background-color: var(--psecundary-option-three);
    color: white;
    width: 80px;
}
.A1>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.A1>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--psecundary-option-three);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

li .A2{
    background-color: #D35400;
}
.A2>div>div>.uk-card-footer > div > div > span > input{
    background-color: #D35400;
    color: white;
    width: 80px;
}
.A2>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.A2>div>div>.uk-card-header>div>div>:nth-child(3){
    color: #D35400;
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

li .A1A2{
    background: linear-gradient(to right, var(--psecundary-option-three), #D35400);
}
.A1A2>div>div>.uk-card-footer > div > div > span > input{
    background: linear-gradient(to right, var(--psecundary-option-three), #D35400);
    color: white;
    width: 80px;
}
.A1A2>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.A1A2>div>div>.uk-card-header>div>div>:nth-child(4){
    background: -webkit-linear-gradient(top right, var(--psecundary-option-three), #D35400);
    background: linear-gradient(to left bottom, var(--psecundary-option-three), #D35400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    width: 196px;
    display: inline-block;
    text-align: center;
}
li .B1{
    background-color:var(--tsecundary-option-one) !important;
}

.B1>div>div>.uk-card-footer > div > div > span > input{
    background-color: var(--tsecundary-option-one) !important;
    color: white;
    width: 80px;
}
.B1>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.B1>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--tsecundary-option-one) !important;
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

li .B2{
    background-color:var(--asecundary-option-one);
}
.B2>div>div>.uk-card-footer > div > div > span > input{
    background-color: var(--asecundary-option-one);
    color: white;
    width: 80px;
}
.B2>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.B2>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--asecundary-option-one);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

li .C1{
    background-color:var(--color-nav-primary);
}
.C1>div>div>.uk-card-footer > div > div > span > input {
    background-color: var(--color-nav-primary);
    color: white;
    width: 80px;
}
.C1>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.C1>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--color-nav-primary);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

li .C2{
    background-color:var(--color-peligro);
}
.C2>div>div>.uk-card-footer > div > div > span > input {
    background-color: var(--color-peligro);
    color: white;
    width: 80px;
}
.C2>div>div>.uk-card-footer > div > div > span{
    padding-left: 130px;
}
.C2>div>div>.uk-card-header>div>div>:nth-child(3){
    color: var(--color-peligro);
    font-weight: bold;
    width: 212px;
    display: inline-block;
    text-align: center;
}

.card-actividad{
    padding: 1.4px;
    border-radius: 8px;
}


.uk-subnav-alumno li.uk-active:nth-child(1) a {
    background-color:var(--turquesa-primary-color);
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(2) a {
    background-color:var(--psecundary-option-three);
    color: white;
}

.uk-subnav-alumno li:nth-child(2) a:hover {
    background-color:var(--psecundary-option-three);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(3) a {
      background-image:linear-gradient(to right, var(--psecundary-option-three), #D35400);
      color: white;
}

.uk-subnav-alumno li:nth-child(3) a:hover {
    background-image:linear-gradient(to right, var(--psecundary-option-three), #D35400);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(4) a {
    background-color:#D35400;
    color: white;
}

.uk-subnav-alumno li:nth-child(4) a:hover {
    background-color:#D35400;
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(5) a {
    background-color:var(--tsecundary-option-one);
    color: white;
}
.uk-subnav-alumno li:nth-child(5) a:hover {
    background-color:var(--tsecundary-option-one);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(6) a {
    background-color:var(--asecundary-option-one);
    color: white;
}
.uk-subnav-alumno li:nth-child(6) a:hover {
    background-color:var(--asecundary-option-one);
    /*opacity: 0.3;*/
    color: white;
}

.uk-subnav-alumno li.uk-active:nth-child(7) a {
    background-color:var(--color-nav-primary);
    color: white;
}
.uk-subnav-alumno li:nth-child(7) a:hover {
    background-color:var(--color-nav-primary);
    /*opacity:0.3;*/
    color: white;
}
.uk-subnav-alumno li.uk-active:nth-child(8) a {
    background-color:var(--color-peligro);
    color: white;
}
.uk-subnav-alumno li:nth-child(8) a:hover {
    background-color:var(--color-peligro);
    /*opacity: 0.3;*/
    color: white;
}
#search-form input:focus{
    background-color:paleturquoise ;
    color:black;
    font-weight: bold;
}

.uk-card-media-top > img{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.uk-card-header{
    height: 55px;
}

.cat-txt{
    color: black;
}

div>ul>li{
    margin-top: 7px;
}

@media screen and (max-width: 1024px){
    .A1>div>div>.uk-card-footer > div > div > span{
        padding-left: 76px;
    }
    .A2>div>div>.uk-card-footer > div > div > span{
        padding-left: 76px;
    }
    .A1A2>div>div>.uk-card-footer > div > div > span {
        padding-left: 76px;
    }
    .B1>div>div>.uk-card-footer > div > div > span {
        padding-left: 76px;
    }
    .B2>div>div>.uk-card-footer > div > div > span{
        padding-left: 76px;
    }
    .C1>div>div>.uk-card-footer > div > div > span{
        padding-left: 76px;
    }
    .C2>div>div>.uk-card-footer > div > div > span{
        padding-left: 76px;
    }
}

@media screen and (max-width: 768px){
    .A1>div>div>.uk-card-footer > div > div > span{
        padding-left: 290px;
    }
    .A2>div>div>.uk-card-footer > div > div > span{
        padding-left: 290px;
    }
    .A1A2>div>div>.uk-card-footer > div > div > span {
        padding-left: 290px;
    }
    .B1>div>div>.uk-card-footer > div > div > span {
        padding-left: 290px;
    }
    .B2>div>div>.uk-card-footer > div > div > span{
        padding-left: 290px;
    }
    .C1>div>div>.uk-card-footer > div > div > span{
        padding-left: 290px;
    }
    .C2>div>div>.uk-card-footer > div > div > span{
        padding-left: 290px;
    }
}

@media screen and (max-width: 450px){
    .A1>div>div>.uk-card-footer > div > div > span{
        padding-left: 100px;
    }
    .A2>div>div>.uk-card-footer > div > div > span{
        padding-left: 100px;
    }
    .A1A2>div>div>.uk-card-footer > div > div > span {
        padding-left: 100px;
    }
    .B1>div>div>.uk-card-footer > div > div > span {
        padding-left: 100px;
    }
    .B2>div>div>.uk-card-footer > div > div > span{
        padding-left: 100px;
    }
    .C1>div>div>.uk-card-footer > div > div > span{
        padding-left: 100px;
    }
    .C2>div>div>.uk-card-footer > div > div > span{
        padding-left: 100px;
    }
}