@font-face {
    font-family: 'fredoka_oneregular';
    src: url("#{resource['/fuentes/fredokaone-regular-webfont.woff2']}") format('woff2'),
    url("#{resource['/fuentes/fredokaone-regular-webfont.woff']}") format('woff');
    font-weight: normal;
    font-style: normal;

}
*,*:before,*:after{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom right, royalblue, purple) ;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 25px;
    color: white;
    font-family: "fredoka_oneregular", "Arial Black", sans-serif;
}
.imagen-error{
    width: 43vw;
    display: flex;
    justify-content: center;
}
input{
    background: linear-gradient(to bottom right,#31B7F5 , #AF08F3 );
    color: white;
    margin: 20px 0;
    border: none;
    overflow: visible;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}