@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sniglet');

:root{
  /*turquesa*/
  --turquesa-primary-color: #00a49d;
  --tsecundary-option-one:#E89E0C;

  /*naranja*/
  --naranja-primary-color: #e8641b;
  --nsecundary-option-one:#E8330C;
  --nsecundary-option-two:#E80C92;

  /*azul*/
  --azul-primary-color:#00A8EC;
  --asecundary-option-one:#650CE8;

  /*purpura*/
  --purpura-primary-color:#2E0239;
  --psecundary-option-one:#E8380C;
  --psecundary-option-two:#FF6D0D;
  --psecundary-option-three:#E80CA2;

  /*barra-nav*/
  --color-nav-primary:#00a8ec;
  --color-barra-nav:#0079b9;
  --subnav-color:#0079b9;
  --form-focul:#DCEDC8;

  /*Nav-verde*/
  --activo-fondo-navbar: #689F38;
  --activo-letra-navbar: #FFFFFF;
  --inactivo-fondo-navbar: #DCEDC8;
  --inactivo-letra-navbar: #757575;

  /*cards*/
  --card-color-border: #B31F0C;
    /*color-section*/
  --color-subnav-fondo:#f4f3ed;

  --color-peligro:#f0506e;

}
.color-nav{
  background-color: var(--color-nav-primary);
}
.height-nav>li>a,.logo{
  min-height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sniglet', "Arial Black";
  font-weight: bold;
  font-size: 16px;
  color:white;
  /* 2 */
  box-sizing: border-box;
  padding: 0 15px;
  /* 3 */
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  /* 4 */
  text-decoration: none;

}

.header-color-card{
  background-color: var(--color-nav-primary);
}
.barra-nav{
  width: 100%;
  height: 15px;
  background-color: var(--color-barra-nav);
}
.barra-modal{
  width: 100%;
  height: 15px;
  background-color: var(--color-barra-nav);
  position: relative;
  top: -2px;
}
.barra-modal-peligro{
  width: 100%;
  height: 15px;
  background-color: #CA445D;
  position: relative;
  top: -2px;
}
.nav-sub>li{
  margin: 10px 3px;
  padding: 10px 20px;
  font-weight: bold;
}
.nav-sub-offcanvas>li{
    margin: 10px 3px;
    padding: 10px 20px;
    font-weight: bold;
}
.nav-sub>li>a{
    font-family: 'Sniglet', "Arial Black";
    font-size: 15px !important;
    padding: 7px 10px 7px 10px;
}
.nav-sub-offcanvas>li>a{
    font-family: 'Sniglet', "Arial Black";
    font-size: 15px !important;
    padding: 2px 5px 2px 5px;
}
.letra-color-subnav{
  color: #000 !important;
}

.nav-sub>li>a:hover{
  color: var(--turquesa-primary-color) !important;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: var(--turquesa-primary-color);
}

.nav-sub>li>a {
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #f4f3ed;
}


.nav-sub-offcanvas>li>a:hover{
    color: var(--turquesa-primary-color) !important;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: var(--turquesa-primary-color);
}

.nav-sub-active>a{
  color: var(--turquesa-primary-color) !important;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: var(--turquesa-primary-color) !important;
}


.section-color{
  background-color: #f4f3ed;
}

@media (min-width: 960px) {
  .section-padding {
    padding-bottom: 10px !important;
  }
}
.titulo-cards{
  /*color: #E84F0C;*/
    /*color:white;*/
    color: var(--nsecundary-option-one);
    /*border-top-left-radius:  3px;*/
    /*border-top-right-radius: 3px;*/
    /*border-radius: 15px;*/
   border:1px solid var(--nsecundary-option-one);
  /*border-color:var(--nsecundary-option-one) ;*/
    /*background-color:var(--nsecundary-option-one);*/
    padding: 3px 4px;
}

.titulo-section{
  /*color: #E84F0C;*/
  color:white;
    border-top-left-radius:  3px;
    border-top-right-radius: 3px;
    background-color:var(--tsecundary-option-one);
    padding: 4px 4px;

}

.imagen-card-section{
    /*margin-top: 3px;*/
  display:block;
  margin-top: 3px;
}

.boton-escuadron-peligro{
  background-color: var(--color-peligro);
  padding: 8px 25px;
  color:white;
  font-weight: bold;
  border-style: solid;
  border-color: var(--color-peligro);
  border-width: 3px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.boton-escuadron-peligro:hover{
  text-decoration: none;
  background-color: #F99BAC;
  color: black;
}

.boton-escuadron-defaul{
  /*background-color: #E30CE8;*/
  padding: 8px 25px;
  color:white;
  font-weight: bold;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;

}

.boton-escuadron-defaul:hover{
  text-decoration: none;
  border-color: black;
  border-width: 3px;
  color: black;
}
.boton-escuadron-footer{
  background-color: white;
  padding: 10px 30px;
  color:var(--subnav-color);
  font-weight: bold;
  border-style: solid;
  border-color: var(--subnav-color);
  border-width: 3px;
  border-radius: 8px;
  text-align: center;
  display: inline;
  margin-top: 10px;
}
.boton-escuadron-footer:hover{
  text-decoration: none;
  background-color: var(--subnav-color);
  color: white;
}

.padding-card-body{
  padding-top: 20px;
}
.padding-section{
  padding-top: 30px;
}

.uk-section > .uk-container{
  /* letter-spacing: 4px; */
  font-size: 15px;
}

.letra-grande{
  font-size: 20px;
}
.uk-card {
  /*border-left: 2px solid;*/
  /*border-right: 2px solid;*/
  border: 2px solid;
  position: relative;
  transition: box-shadow 0.15s ease-out;
  border-radius: 5%;
}

.color-card-one{
  border-color: var(--psecundary-option-one);
}
.color-card-two{
  border-color: var(--nsecundary-option-two);
}
.color-card-three{
  border-color: var(--activo-fondo-navbar);
}
.color-card-four{
    border-color: var(--tsecundary-option-one);
}
.color-card-five{
    border-color: var(--asecundary-option-one);
}
.color-card-six{
    border-color: var(--color-nav-primary);
}
.color-card-seven{
  border-color: var(--card-color-border);
}
.uk-navbar-dropdown{
   border: 3px solid;
   border-color: var(--subnav-color);
  border-radius: 5%;
 }
.boton-escuadron-base{
  background-color: var(--turquesa-primary-color);
  padding: 8px 25px;
  color:white;
  font-weight: bold;
  border-style: solid;
  border-color: var(--turquesa-primary-color);
  border-width: 3px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.boton-escuadron-base:hover{
  text-decoration: none;
  background-color: rgb(224,255,255);
  color: black;
}

.boton-escuadron-base-secundary{
  background-color: var(--tsecundary-option-one);
  padding: 8px 25px;
  color:white;
  font-weight: bold;
  border-style: solid;
  border-color: var(--tsecundary-option-one);
  border-width: 3px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.boton-escuadron-base-secundary:hover{
  text-decoration: none;
  background-color: rgb(255,255,224);
  color: black;
}

/*clase para las tablas*/
/*.uk-input,*/
/*.uk-select,*/
/*.uk-textarea {*/
  /*border-radius: 20px;*/
  /*border-width: 2px;*/
/*}*/

input[type=text],input[type=email],input[type=password],select,textarea{
  border-radius: 20px !important;
 border-width: 2px !important;
  padding: 0 20px;
  border-color: var(--form-focul) !important;
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,select:focus,textarea:focus{
  border-color: var(--turquesa-primary-color) !important;
  border-width: 3px!important;
}

.uk-radio:checked,
.uk-checkbox:checked,
.uk-checkbox:indeterminate {
  background-color: var(--turquesa-primary-color) !important;
  /*border-color: transparent;*/
}

.uk-modal-dialog{
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.titulo-modal{
  color: white;
}

/*Tamano de letra */
.size-one{
  font-size: 60px;
}
.color-texto{
  color: var(--turquesa-primary-color);
}

.tablaPrimaria{
  width: 100%;
  font-family: inherit;
  color: #000 !important;
  background-color: #FFF5EE;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: collapse;
  /*overflow: hidden;*/
  font-size: 13px;
  font-weight: bold;
}
.tablaPrimaria, .thPrimario, .tdPrimario{
  /*text-align: center;*/
  border-bottom: 2px solid #000;
}
.borde-top-amarillo{
  /*text-align: center;*/
  border-top : 4px solid var(--tsecundary-option-one);
  border-bottom: 2px solid #000;
}
.tablaPrimaria .thPrimario{
  /*background-color: #F5F5F5;*/
    background-color: #ceccc2;
}
.uk-table-small th,
.uk-table-small td {
  padding: 7px 8px;
}

.uk-dropdown {
  font-family: 'Sniglet', "Arial Black";
  border: solid;
  border-width: 3px;
  border-color: var(--turquesa-primary-color);
  border-radius: 5%;
}

.uk-dropdown ul li a{
  color: var(--turquesa-primary-color);
}

.uk-dropdown ul li a:hover{
  color: var(--tsecundary-option-one);
}

.uk-progress.tabla::-webkit-progress-value {
  background-color: var(--turquesa-primary-color);
}
.uk-progress.tabla::-moz-progress-bar {
  background-color: var(--turquesa-primary-color);
}
.uk-progress.tabla::-ms-fill {
  background-color: var(--turquesa-primary-color);
}

.profile-img {
    display: block;
}

.uk-tooltip {
    /* 1 */
    max-width: 300px;
    padding: 4px 7px;
    /* 4 */
    background: var(--turquesa-primary-color) !important;
    border:solid 2px;
    border-color: black;
    border-radius: 3px;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Sniglet', "Arial Black";
}

.margen-one{
  margin-top: 25px;
}

.tamaño-imagen{
  width: 100px;
  height: 100px;
}
.contenedor-imagen-alumnos{
  height: 150px;
  /*background-color: #595959;*/
}
.letra-cards{
  /*font-family: 'Sniglet', "Arial Black";*/
  color: black;
  font-size: 40px;
  display: inline-block;
}
.uk-icon-image {
  width: 30px;
  height: 30px;

}

.color-contenido-grafica{
    /*background-color: rgba(0,164,157,0.2);*/
    background-color: rgba(0,168,236,0.2);
    color: white;
}

.uk-offcanvas-bar {

    background: var(--color-subnav-fondo);

}

.esquadron-paddin{
 /*padding: 38px 0px;*/
padding-top: 38px;
}

.padding-logo{
  padding: 8px 0px;
}