
/* Charts */
.chart-container {
    position: relative;
    height: 300px;
    margin: 0 auto;
}

.chart-container-min {
    position: relative;
    height: 235px;
    margin: 0 auto;
}

div > ul + div{
    width: 30%;
    height: 450px;
    margin-bottom: 30px;
}

div > ul + div > div > div > span{
    font-weight: bold;
}




