
/* Charts */
.chart-container {
    position: relative;
    height: 300px;
    margin: 0 auto;
}

.chart-container-min {
    position: relative;
    height: 235px;
    margin: 0 auto;
}

div > ul + div > div > div > span{
    font-weight: bold;
}


.width-select{
    width: 985px !important;
    left: 6% !important;
}

.width-button{
    position: relative;
    width: 1000px;
    left: 5%;
}



