*{
    box-sizing: border-box;
}
.contenedor-profesor{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.contenedor-profesor  input{
    width: 300px;
}
.contenedor-profesor  select{
    width: 300px;
}

.logo{
    width: 100px;
    height: 100px;
    margin: 30px;
    fill: white;
}

.selector{
    width: 100% !important;
}

.boton{
    /*background-color: #242C33;*/
    background: linear-gradient(to bottom right,#31B7F5 , #AF08F3 );
    color: white;
}

body{
    background: linear-gradient(to bottom right, royalblue, purple) ;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    margin: 10px;
}

a:hover {
    color: purple;
}

ul{
    list-style: none;
}
ul.login-menu li{
    display: inline-block;
}

ul.login-menu > li.uk-active > a{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-weight: bold;
    color: white;
    font-family: 'Sniglet', sans-serif;
    text-decoration: none;
    padding: 8px;
}
ul.login-menu > li > a:hover{
    font-family: 'Sniglet', sans-serif;
    background-color: white;
    color: #999999;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
}

.uk-subnav li.uk-active a{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    font-weight: bold;
    color: white;
    font-family: 'Sniglet', sans-serif !important;
}
.uk-subnav li a:hover{
    font-family: 'Sniglet', sans-serif !important;
    border-radius: 8px;
}

@media screen and (max-width: 360px){
    .contenedor-profesor{
        width: 100% !important;
        margin: 0 10px !important;
        box-sizing: border-box !important;
    }

    form{
        width: 100% !important;


    }

    input{
        width: 100% !important;

    }
    .uk-inline{
        display: block;
        width: 100% !important;
    }
}

