@font-face {
    font-family: esquadron;
    src: url("#{resource['css/byt.ttf']}");
}

@keyframes inicio-animacion {
  0%{
    transform: scale(0.2,0.2);
  }
  25%{
    transform: scale(0.4,0.4);
  }
  50%{
    transform: scale(0.6,0.6);
  }
  75%{
    transform: scale(0.8,0.8);
  }
  100%{
    transform: scale(1,1);
  }

}

@keyframes logo {
  0%{
    transform: scale(1,1);
  }
  25%{
    transform: scale(0.75,0.75);
  }
  50%{
    transform: scale(0.5,0.5);
  }
  75%{
    transform: scale(0.75,0.75);
  }
  100%{
    transform: scale(1,1);
  }

}

body{
    background-image: url("#{resource['img/alumno/fondo-general.svg']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sniglet', sans-serif;
}
.menu-landing{
    background-color: rgba(255,255,255,0.6);
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.menu-landing .logo{
    background: url("../img/esquadron.svg") no-repeat left center/40px;
    width: 300px;
    height: 40px;
    display: inline-block;
    padding-left: 40px;
}
.menu-landing .logo span{
  font-family: esquadron ,'Sniglet', "Arial Black", sans-serif;
    color: white;
    font-size: 30px;
    display: inline-block;
    margin-top: 13px;
}
/*.menu-landing .logo img{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
.menu-landing ul{
    list-style: none;
    display: inline-block;
    width: 250px;
}
.menu-landing ul li{
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 8px;
    font-family: 'Sniglet', "Arial Black", sans-serif;
}
.slider-esquadron{
border-radius: 8px;
}

.slider-esquadron ul >li:first-child{
}
.slider-esquadron ul >li:first-child > div{

    padding-left: 200px;
    padding-top: 200px;
    margin-top: 60px;
    background: url("../img/esquadron.svg") no-repeat left center/200px;
    font-size: 80px;
    font-family: esquadron, 'Sniglet', "Arial Black", sans-serif;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: calc(50% - 220px);
    bottom: calc(50% - 200px);
    z-index: 9999;
}

.slider-esquadron ul >li:nth-child(2){
    background:url("../img/mounstro/who.svg") no-repeat left bottom/25%,url("../img/mounstro/whom.svg") no-repeat center bottom/25%,url("../img/mounstro/whose.svg") no-repeat right bottom/25%;
}
.slider-esquadron ul >li:last-child{
    background:url("../img/avatar/astronauta-nino.svg") no-repeat 130px 200px/20%,url("../img/avatar/astronauta-nina.svg") no-repeat 300px 200px/20%;
}
.slider-esquadron ul >li:last-child div{
    width: 250px;
    height: 250px;
    background: url("../img/alumno/planetas/planeta3.svg") no-repeat center center/100%;
    position: absolute;
    right: 100px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}


h2{
    font-family: esquadron ,'Sniglet', "Arial Black", sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
}
.card-esquadron{
    /* background: rgba(255,255,255,0.5); */
    border-radius: 8px;
    height: 500px;
    overflow: hidden;
    border: 2px solid white;
}
.card-esquadron .imagen-card{
    height: 60%;
    overflow: hidden;
}
.card-esquadron .contenido-card{
    height: 40%;
    /* background-color: rgba(255,255,255,0.1); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imagen-card img{
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
}
.imagen-card img:hover{
    transform: scale(1.2,1.2);
}

.card-esquadron .contenido-card a > button{
    width: 100%;
    height: 50px;
    border: 2px solid #D35400;
    border-radius: 8px;
    background-color: #D35400;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.card-esquadron .contenido-card a > button:hover{
    cursor: pointer;
}
.card-esquadron .contenido-card a{
    display: inline-block;
    width: 75%;
}
.card-esquadron .contenido-card > div{
  width: 25%;
}
.imagen-inicio{
  width: 70%;
  margin: 0 auto;
  position: relative;
  min-height: 500px;
  animation-name: inicio-animacion;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.imagen-inicio > div:first-child{
  min-height: auto;
  max-height: 500px;
}
.imagen-inicio > div:first-child img{
  width: 30%;
  display: inline-block;
}
.imagen-inicio > div:first-child img:first-child{
  transform: rotate(-25deg);
}
.imagen-inicio > div:first-child img:last-child{
  transform: rotate(25deg);
}

.imagen-inicio > div:first-child + div{
  min-height: auto;
  max-height: 400px;
    font-family: esquadron, serif;
  font-size: 140px;
  padding-left: 25%;
  padding-top: 70px;
  background: url("#{resource['img/esquadron.svg']}") no-repeat left center/25%;
  color: white;
  position: absolute;
  bottom: 10px;
  animation-name: logo;
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 1s;
}

.uk-tooltip {

    box-sizing: border-box;
    min-width: 90px;
    padding: 3px 6px;
    /* 4 */
    background: #00a49d;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1030px ) {
    body {
        background-image: url("#{resource['img/alumno/fondo-gral-ipad.svg']}");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 768px){
    .imagen-inicio > div:first-child + div{
        font-size: 100px;
    }
    body{
        background-image: url("#{resource['img/alumno/fondo-gral-movil.svg']}");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 500px){
    .imagen-inicio > div:first-child + div{
        font-size: 46px;
    }
}

