@font-face {
  font-family:escuadron;
  src: url('#{resource["css/byt.ttf"]}');
}

.lescuadron{
	font-family:escuadron;
}

.letra-logo{
    font-size: 27px;
    position: relative;
    top: 15px;
    margin-left: 10px;
}

.letra-titulo{
    color:white;
}

.letra-tabla{
    color: black;
}

.fondo-peligro{
    background-color: #f0506e;
}

.primera-mayuscula::first-letter {
    text-transform: uppercase;
}

.text-color-level1{
    color: #1E87F0;
}

.text-color-level2{
    color: #8630F0;
}
.text-color-level3{
    color: #E84DF0;
}
.text-color-level4{
    color: #F03A7F;
}
.text-color-level5{
    color: #32d296;
}
.text-color-level6{
    color: #ec2147;
}
.vista{
    display: table;
}