@font-face {
  font-family:escuadron;
  src: url('#{resource["css/byt.ttf"]}');
}

.lescuadron{
	font-family:escuadron;
}

.letra-logo{
font-size: 27px;
position: relative;
top: 10px;
}

.letra-titulo{
    color:white;
}

.fondo-peligro{
    background-color: #f0506e;
}