
.spinner{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(51, 74, 88);
  z-index: 9999;
  top: 0;
  left: 0;

}

.spinner svg{
  width: 122.67px;
  height: 122.67px;
  display: block;
  /*left: calc(50% - (122.67px/2));*/
  /*top: calc(50% - (122.67px/2));*/
}
  /*.spinner svg circle{*/
  /*  stroke:rgb(81, 181, 163) !important;*/
  /*  stroke-width: 0.6px !important;*/
  /*}*/

.spinner > img{
    display: none;
}

  .spinner.spinner-open{
    display: flex ;
    justify-content: center;
    align-items: center;
  }
