.puntero:hover{
  cursor: pointer;
}
 
.links {
 color:white;
}

a.links > span{
 text-decoration:none;
}
 
a.links > span:hover{
 text-decoration:none;
 color:black;
}

.uk-background-primary .titulo-blanco {
   color: white !important;
   font-weight: bold !important;
   font-size: 15px !important;
}

.boton-paginacion-anterior:enabled {
    background-image: url('#{resource["img/boton/anterior-habilitado.svg"]}');
}

.boton-paginacion-anterior:disabled {
    background-image: url('#{resource["img/boton/anterior-deshabilitado.svg"]}');
}

.boton-paginacion {
    background-repeat: no-repeat;
    background-position: center;
}

.boton-paginacion-siguiente:enabled {
    background-image: url('#{resource["img/boton/siguiente-habilitado.svg"]}');
}

.boton-paginacion-siguiente:disabled {
    background-image: url('#{resource["img/boton/siguiente-deshabilitado.svg"]}');
}


.boton-paginacion-primera:enabled {
    background-image: url('#{resource["img/boton/primero-habilitado.svg"]}');
}

.boton-paginacion-primera:disabled {
    background-image: url('#{resource["img/boton/primero-deshabilitado.svg"]}');
}

.boton-paginacion-ultima:enabled {
    background-image: url('#{resource["img/boton/ultimo-habilitado.svg"]}');
}

.boton-paginacion-ultima:disabled {
    background-image: url('#{resource["img/boton/ultimo-deshabilitado.svg"]}');
}