.boton-paginacion-anterior-admid:enabled {
    background-image: url('#{resource["img/boton/anterior-habilitado.svg"]}');
}

.boton-paginacion-anterior:enabled {
    background-image: url('#{resource["img/boton/anterior-habilitado.svg"]}');
}

.boton-paginacion-anterior-admin:disabled {
    background-image: url('#{resource["img/boton/anterior-deshabilitado.svg"]}');
}

.boton-paginacion-anterior:disabled {
    background-image: url('#{resource["img/boton/anterior-deshabilitado.svg"]}');
}

.boton-paginacion {
    background-repeat: no-repeat;
    background-position: center;
}

.boton-paginacion-siguiente-admin:enabled {
    background-image: url('#{resource["img/boton/siguiente-habilitado.svg"]}');
}

.boton-paginacion-siguiente:enabled {
    background-image: url('#{resource["img/boton/siguiente-habilitado.svg"]}');
}

.boton-paginacion-siguiente-admin:disabled {
    background-image: url('#{resource["img/boton/siguiente-deshabilitado.svg"]}');
}

.boton-paginacion-siguiente:disabled {
    background-image: url('#{resource["img/boton/siguiente-deshabilitado.svg"]}');
}

.boton-paginacion-primera-admin:enabled {
    background-image: url('#{resource["img/boton/primero-habilitado.svg"]}');


}

.boton-paginacion-primera:enabled {
    background-image: url('#{resource["img/boton/primero-habilitado.svg"]}');
}

.boton-paginacion-primera-admin:disabled {
    background-image: url('#{resource["img/boton/primero-deshabilitado.svg"]}');
}

.boton-paginacion-primera:disabled {
    background-image: url('#{resource["img/boton/primero-deshabilitado.svg"]}');
    }

.boton-paginacion-ultima-admin:enabled {
    background-image: url('#{resource["img/boton/ultimo-habilitado.svg"]}');

}

.boton-paginacion-ultima:enabled {
    background-image: url('#{resource["img/boton/ultimo-habilitado.svg"]}');
}

.boton-paginacion-ultima-admin:disabled {
    background-image: url('#{resource["img/boton/ultimo-deshabilitado.svg"]}');

}

.boton-paginacion-ultima:disabled {
    background-image: url('#{resource["img/boton/ultimo-deshabilitado.svg"]}');
}

.module {
     stroke: black;
 }
.letra-titulo{
    color: white !important;
    font-weight: bold !important;
}
.tabla-borde{
    border:1px solid black;
}
.letra-contenido-tabla{
    font-family: "Century Gothic";
    font-size: 12px;
    font-weight: normal;
}

div > table > thead + tbody > tr > td:nth-child(5){

}

