.vacio{
    background-image: url("#{resource['img/alumno/pop-art/mensaje5.svg']}");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 400px;
    margin: auto;
    font-size: 50px;
    color: #76448A;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.imagen-actividad{*/
/*    width: 250px;*/
/*    height: 150px;*/
/*    border: 2px solid #76448A;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 10px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/
#video-actividad{
    padding: 2px 5px;
}
.imagen-actividad img{
    display: block;
    width: 75%;
    height: 156px;
    margin-left: auto;
    margin-right: auto;
}
.video-alumno::after{
    content: "";
    display: block;
    position:absolute;
    width: 50px;
    height: 30px;
    background-color: transparent;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.finalVideo{
    background: url("#{resource['img/esquadron.svg']}") no-repeat top left/90px,url("#{resource['img/esquadron.svg']}") no-repeat bottom right/90px;
    background-color: #00002D!important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visibilidad{
    display: none;
}

#botonply:hover svg{
    fill: white;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .vacio{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .vacio{
        width: 70%;
    }
}

@media screen and (max-width: 450px){
    .vacio{
        width: 80%;
        font-size: 40px;
    }
}
ul{
    list-style: none;
}

.califica{
    background: linear-gradient(to right, rgb(0,0,0), rgb(0,0,51));
   /*background: transparent;*/
    width: 110%;
    height: 100%;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    color: white;
    font-size: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.prueba{
    background: transparent;
    width: 100%;
    height: 88%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
