body{
    box-sizing: border-box;
}
.fondo-mapa3{
    background-image: url("#{resource['img/fondo/fondo-mapa7.svg']}");
    /*background-repeat: repeat-x;*/
    background-size: cover;
    /*background-position:5% 5%;*/
}


.area-texto2 textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;
    max-height: 120px;
    border: 8px solid black !important;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.area-texto2 textarea:focus{
    border: 3px solid #00a49d !important;
}
.padding-contenedor{
    padding: 20px 0;
}

.tam-contenedor{
    max-width: 80%;
    min-width: 80%;
}
.mapa-label{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px 8px;
    background-color: black;
    border-radius: 30px;
    margin-bottom: 0 !important;

}
.margen-contenido{
    margin-top: 30%;
}
.imagen-whose{
    width: 20%;
    height: auto;
    position: absolute;
    left: 60%;
    top:4%
}
.imagen-who{
    width: 15%;
    height: auto;
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
}
.imagen-popart>img{
    width: 42%;
    height: auto;
    position: absolute;
    left: 0;
    top:0;
    z-index: 2;
}
.posicion-contenedor{
 position: relative;
}