body{
    box-sizing: border-box;
}
.fondo-mapa3{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/mapa-mental/fondo-mapa7.svg");
    /*background-repeat: repeat-x;*/
    background-size: cover;
    /*background-position:5% 5%;*/
}


.area-texto2 textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;
    max-height: 120px;
    border: 8px solid black !important;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.area-texto2 textarea:focus{
    border: 3px solid #00a49d !important;
}
.padding-contenedor{
    padding: 20px 0;
}

.tam-contenedor{
    max-width: 80%;
    min-width: 80%;
}
.mapa-label{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px 8px;
    background-color: black;
    border-radius: 30px;
    margin-bottom: 0 !important;

}
.margen-contenido{
    margin-top: 30%;
}
.imagen-whose{
    width: 20%;
    height: auto;
    position: absolute;
    left: 60%;
    top:4%
}
.imagen-who{
    width: 15%;
    height: auto;
    position: absolute;
    left: 0;
    top:0;
    z-index: 3;
}
.imagen-popart{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/pop-art/mensaje-mapa-7.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 25%;
    position: absolute;
    left: 0;
    top:0;
}
.posicion-contenedor{
 position: relative;
}
.titulo-mapa-7{
    position: relative;
    z-index: 5;
    font-weight: bold;
    font-size: 22px;
    color: #B31F0C;
}


.fondo-pop-7{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.mensaje-alerta-7{
    color: red;
    background-color: white;
}

.boton-gral3{
    position: relative;
    bottom: -53px;
    margin: auto;
}

.movimiento7{
    right: 39%;
    top: 11%;
    transform: rotate(15deg);
}

.finalizado7{
    width: 300px;
    height: 200px;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .titulo-mapa-7{
        font-size: 19px;
        top: -10%;
        left: 2%;
    }
    .finalizado7{
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width: 768px) {
    .finalizado7{
        width: 200px;
        height: 100px;
    }
    .movimiento7{
        top: 10%;
        left: 10%;
    }
}

@media screen and (max-width: 450px) {
    .finalizado7{
        width: 100px;
        height: 50px;
    }
    .movimiento7{
        top: 7%;
        left: 7%;
    }
}