.fondo-mapa-10{
    background-image: url("#{resource['img/alumno/mapa-mental/lineas-verdes.svg']}");
    background-size: cover;
    background-repeat: no-repeat;
}
.globo-10{
    background-image: url("#{resource['img/alumno/pop-art/mensaje1.svg']}");
    background-origin:content-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fondo-imagen-10{
    background-image: url("#{resource['img/mounstro/whom.svg']}");
    background-origin:content-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}
.titulo-imagen-10{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("#{resource['img/alumno/pop-art/popart-rojo.svg']}");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 85%;
    height: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.titulo-10{
    color: white;
    font-family: Sans-serif;
}

.caja-texto-10{
    box-sizing: content-box;
    min-height: 90px;
    max-height: 90px;
    min-width: 150px;
    max-width: 150px;
    margin-top: 8%;
    display: block;
}
.mensaje-alerta-10{
    color: red;
    display: block;
    margin-top: 5px;
    width: 100%;
}

.boton-gral3{
    position: relative;
    bottom: -31px;
    margin: auto;
}

.movimiento10{
    top: 47%;
    left: 32%;
    transform: rotate(15deg);
}

.finalizado10{
    width: 250px;
    height: 150px;
    z-index: 3;
    position: absolute;
}

@media screen and (max-width: 1024px){
 .caja-texto-10{
      margin-top: 10%;
 }
    .finalizado10{
        width: 200px;
        height: 100px;
    }
    .movimiento10{
        top: 26%;
    }
}
@media screen and (max-width: 768px){
    .caja-texto-10{
        margin-top: 30px;
    }
    .globo-10{
        width: 90%;
    }

    .finalizado10{
        width: 200px;
        height: 100px;
    }
    .movimiento10{
        left: 2%;
        top: 20%;
    }
}

@media screen and (max-width: 500px){
    .finalizado10{
        width: 100px;
        height: 50px;
    }
    .movimiento10{
        top: 16%;
        left: 6%;
    }
}