[class*='centrar-formulario']{
    position: absolute !important;
}

.centrar-formulario{
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    /* 1 */
    /*width: -moz-max-content;*/
    /*width: max-content;*/
    /*max-width: 100%;*/
    /*box-sizing: border-box;*/
}

.contenedor-padding{
    padding: 30px 0px 30px 0px;
}
.contorno{
    border-style: solid;
    border-width: 5px;
    border-color: var(--tsecundary-option-one);
    border-radius: 8px;

}
.fondo-mapa{
    /*background-color: rgba(233,33,71,0.8);*/
    background-image: url("#{resource['img/alumno/lineas-rojas.svg']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.fondo-mapa-orden{
    background-image: url("#{resource['img/fondo/puntos-purpura.svg']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
textarea{
    border-radius: 20px !important;
    border-width: 5px !important;
    padding: 0 20px;
    border-color: black !important;
    background-color: rgba(255,255,255,0.4) !important;
    color: black !important;
font-weight: bold !important;}

.posicion-img{
    position: relative;
    top: 32px;
}

input[type=text]{
    background-color: transparent;
    border-radius: 0px !important;
    border-top: none;
    border-left: none;
    border-right: none;
    color:black;
    border-bottom: dashed 2px black !important;
}

input[type=text]::placeholder{
    color:black;
}

.mapa-caja{
    background-color: white;
    border: solid 8px black;
    border-radius: 8px;
    padding: 7px 3px;
    width: 80%;
}

.margen-caja1{
    margin-left: 20%;
}
.margen-caja2{
    margin-left: 10%;
}
.margen-caja3{
    margin-left: 15%;
}
