.fondo-13{
    background:url("#{resource['img/alumno/fondo-13.png']}") no-repeat center/100% 100%;
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.caja-padre-5{
    /*width: 100%;*/
    height: 1050px;
    margin-right: 0;
    margin-left: 0;
    position: relative;

}
.contenedor-formularios{
    width: 100%;
}
.catarina-13{
    width: 20%;
    position: absolute;
    top: 0;
    left:40%;
}
.caja-mapa-uno{
    /*background-color: rgba(255,255,255,0.5);*/
    /*height: 100%;*/
}
.caja-mapa-dos{
    /*background-color: rgba(255,255,0,0.3);*/
    /*height: 100%;*/
}
.caja-mapa-tres{
    /*background-color: rgba(255,170,0,0.3);*/
    /*width: 100%;*/
    height: 250px;
}

.uk-form-horizontal .uk-form-controls {
    margin-left: 50px;
}
.uk-form-horizontal .uk-form-label {
    width: 50px;
    margin-top: 7px;
    float: left;
}
.uk-form-horizontal input[type="text"]{
    width: 100%;
}

.label-13{
    box-sizing: border-box;
    background-color: #F4F6F7 ;
    border: 2px solid #BFC9CA;
    border-radius: 50px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}
.formulario-verde{
    left: 30px;
    top: calc((1300px - 250px) - 650px);

}

.formulario-amarillo{
    right: 20px;
    top: 70px;
}

.formulario-morado{
    right: 20px;
    bottom: 80px;
}
.formulario-azul{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
}
.color-verde{
    background-color: #00FE00;
    border:3px solid black;
}
.color-morado{
    background-color: #842484;
    border:3px solid black;
}
.color-naranja{
    background-color: #F5821F;
    border:3px solid black;
}
.color-azul{
    background-color: #00AEEF;
    border:3px solid black;
}
.respuesta-13{
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .fondo-13{
        background: none;
        height: auto;
    }
    .catarina-13{
        position: relative;
        width: 80%;
        top: 0;
        left:0;
    }

}
