.fondo-14{
    background: url("#{resource['img/mounstro/whose.svg']}") no-repeat left top/200px,
    url("#{resource['img/alumno/mapa-mental/lineas-amarillas.svg']}") no-repeat center/cover;
    height: 1200px;
}

.titulo-14{
    height: 400px;
}
.titulo-14 h3{
    font-size: 24px;
    font-weight: bold;
}
.arbol{
    background: url("#{resource['img/alumno/arbol.svg']}") no-repeat center/100% 100%;
    height: 800px;
    width: 100%;
}
[class^="caja-"]{
    width: calc(100%/4);
    height: 150px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
[class^="caja-"] > input{
    height: 30px;
    width: 80%;
}
.caja-14-cuatro > textarea{
    min-height: 65%;
    min-width: 80%;
    max-width: 80%;
    max-height:65%;
}
.caja-14-uno{
    left: calc(52% - ((100%/4)/2) );
}
.caja-14-dos{
    top: 200px;
    left: 0;
}
.caja-14-tres{
    top: 200px;
    right: 0;
}
.caja-14-cuatro{
    bottom: 0;
    left: calc(50% - ((100%/4)/2));
}
[class^="small"]{
    width: 100%;
    height: 100px;
}
[class^="small"] > input{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}
[class^="small"] > textarea{
    min-height: 65%;
    min-width: 100%;
    max-width: 100%;
    max-height:65%;
    box-sizing: border-box;
}

.titulo-14{
    width: 40%;
    background: url("#{resource['img/alumno/pop-art/pop-art-2.svg']}") no-repeat center/100%;
    background-clip: content-box;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalizado14{
    width: 400px;
    height: 300px;
    z-index: 3;
    position: absolute;
}

.movimiento14{
    top: 49%;
    right: 57%;
    transform: rotate(15deg);
}


.boton-14{
    position: relative;
    bottom: -113px;
    margin: auto;

}

@media screen and (max-width: 1024px) {
    .titulo-14 h3{
        font-size: 19px;
        font-weight: bold;
        width: 220px;
    }
     .caja-14-uno{
         top: 12%;
     }
    .caja-14-dos{
        top: 220px;
    }
    .caja-14-tres{
        top: 220px;
    }

    .movimiento14{
        top: 38%;
        right: 50%;
    }
}

@media screen and (max-width: 768px){
    .titulo-14 h3{
        font-size: 19px;
        font-weight: bold;
        width: 220px;
    }

    .fondo-14{
        padding-top: 80px;
        padding-bottom: 80px;
        height: auto;
    }
    .finalizado14{
        width: 300px;
        height: 200px;
    }

    .movimiento14{
        top: 41%;
    }
}

@media screen and (max-width: 500px) {

    .titulo-14 h3{
        font-size: 10px;
        font-weight: bold;
        width: 220px;
    }

    .titulo-14{
        width: 45%;
    }

    .arbol{
        background: none;
    }

    .fondo-14{
        padding-top: 80px;
        padding-bottom: 80px;
        height: auto;
    }

    .finalizado14{
        width: 100px;
        height: 50px;
    }

    .movimiento14{
        top: 30%;
        right: 20%;
    }

}

