.fondo-capas{
    background-image: url("#{resource['img/alumno/mapa-mental/puntos-naranjas3.svg']}");
    background-size: cover;
    background-position: center center;
}
.caja-capas{
    width: 90%;
    height: 800px;
    background-color: #0f7ae5;
    margin-top: 20%;
    margin-bottom: 20px !important;
    -webkit-clip-path: polygon(0 0, 65% 9%, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 65% 9%, 80% 100%, 0% 100%);
}
.caja-capas-small{
    width: 90%;
    height: auto;
    margin: auto;
    background: url("#{resource['img/alumno/hamburguesa.svg']}") no-repeat #0f7ae5 center center/100% 100%;
    opacity: 1;
}

.posicion-relativa{
    position: relative;
}

.imagen-who{
    width: 22%;
    height: auto;
    position: absolute;
    top:5%;
    right: 8%;
}
.imagen-who-small{
    width: 80%;
    height: auto;
   display: block;
    margin: auto;
}
.imagen-hamburguesa>img{
    width: 50%;
    position: absolute;
    bottom: 1%;
    left: 1%;

}
.imagen-hamburguesa-small{
    display: block;
    width: 100%;
    height: auto;
}
.texto-posicion{
    width: 40%;
    /*background-color: #81b442;*/
    top: 23%;
    left: 6%;
}
.texto-posicion-small{
    width: 100%;
    /*background-color: #81b442;*/
    top: 0;
    padding: 6px 0;
}
.texto-posicion textarea{
    display: block;
    width: 80%;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
}
.texto-posicion-small textarea{
    display: block;
    width: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 10px auto;
    min-height: 38px;
    max-height: 38px;
}
.texto-posicion h3{
    font-weight: bold;
}

.boton-gral8{
    position: relative;
    bottom: -40px;
    margin: auto;
}

.movimiento8{
    right: 36%;
    top: 10%;
    transform: rotate(15deg);
}

.finalizado8{
    width: 300px;
    height: 200px;
    z-index: 2;
    position: absolute;
}

@media screen and (max-width: 1024px){
    .caja-capas{
        width: 90%;
        height: 600px;
        margin-top: 15%;
    }
    .texto-posicion textarea{
        padding: 1px 2px !important;
        height: 25px;

    }
    .texto-posicion .margen-small{
        margin-top: 5px !important;
    }
}

@media screen and (max-width: 959px){
    .caja-capas{
        width: 90%;
        height: 500px;
        margin-top: 15%;
    }
    .texto-posicion textarea{
        padding: 1px 2px !important;
        height: 25px;
        margin-bottom: 12px !important;
    }
}

@media screen and (max-width: 500px){
    .finalizado8{
        width: 150px;
        height: 100px;
    }

    .movimiento8{
        top: 10px;
        left: 10px;
    }
    .boton-gral8{
        bottom: -45px;
    }
    .uk-textarea:disabled{
        opacity: .9;
    }
}