.fondo-comparar{
     background-color: #81b442;


}
.nube-superior>img{
    display: block;
    width: 100%;
    top: 0;
}
.nube-inferior>img{
    display: block;
    width: 100%;
    bottom: 0;
}
.imagen-nube-popart{
    width: 100%;
    height: auto;
}
.nube-medio{
    width: 100%;
    height: auto;
}
.area-borde{
    box-sizing: border-box;
}
.posicion-texarea-comparar{

    min-width: 60%;
    max-width: 60%;
    min-height: 90px;
    max-height: 90px;
    box-sizing: border-box;
    border: none;
}
.posicion-texarea-comparar-dos{
    min-width: 72%;
    max-width: 72%;
    min-height: 85px;
    max-height: 85px;
    box-sizing: border-box;
    border: none;
}
[class^="posicion-texarea-"]:focus{
    border: 1px solid rgba(0,0,0,0.3);

}


.imagen-comparar{
    width: 30%;
    bottom: 0;
    left: 35%;
}
.letra-posicion{
    bottom: 40%;
    left: 38%;
    font-weight: bold;

}



.fondo-pop{
    background-color: #FFF200;
    border: 2px solid black;
}
.posicion-boton{
    position: absolute;
    left: calc(50% - 55px);
    bottom: 0;
}
.mensaje-mapa-4{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: red;
}
.pop-art-nube-medio{
    background: url("#{resource['img/alumno/pop-art/nube.svg']}") no-repeat center center/100% 100%;
    background-origin: content-box;
    height: 254px
}
.pop-art-nube-grande{
    background: url("#{resource['img/alumno/pop-art/mensaje4.svg']}") no-repeat center center/100% 100%;
    background-origin: content-box;
    height: 254px
}

[class^="pop-art-nube-"]{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.finalizado4{
    width: 400px;
    height: 300px;
    position: absolute;
}

.movimiento4{
    right: 32%;
    top: 34%;
    transform: rotate(15deg);
}

@media screen and (max-width: 1025px) {


    .posicion-texarea-comparar-dos{
        bottom:35%;
    }
}
@media screen and (max-width: 768px) {

    .letra-posicion{
        bottom: 10%;
        left: 19%;
    }
    .pop-art-nube-grande{
        height: 450px;
    }
    .pop-art-nube-medio{
        height: 450px;
    }
}