.picture{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/lineas-rosas.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.titulo-mapa-15{
    display: inline-block;
    left: 0;
    top: 0;
    margin: 40px;
}

.caja-1{
    height: 200px;
}

.caja-2{
    height: 80px;
}

.caja-3{
    width: 100%;
    height: auto;
}

.caja-4{
    right: 10%;
    bottom: 10%;
}

.caja-5{
    right: 6%;
    bottom: 0%;
}

.parrafo-mapa-15{
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    color: white;
    z-index: 2;
}

.titulo-mapa-15 > .parrafo-mapa-15{
    font-size: 30px;
}

.subtitulo-15{
    right: 0;
    color: white;
    font-size: 45px;
    font-weight: bold;
}

[class^="planet"]{
    width: 150px;
    height: 150px;
}

.planet-1{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/planetas/planeta1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 45%;
}

.planet-2{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/planetas/planeta2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    left: 15%;
    top: 0;
}

.planet-3{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/planetas/planeta3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    left: 55%;
    top: 0;
}

.planet-4{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/planetas/planeta4.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    left: 20%;
    top: 0;
}


.planet-5{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/planetas/planeta.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    left: 10%;
    top: 0;
}

.planet-6{
    background-image: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/planetas/planeta6.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    left: 43%;
    top: 0;
    bottom: 30%;
}

input[type=text],input[type=email],input[type=password],select,textarea{
    border: none;
    border-bottom: 4px dotted;
    border-radius: 0px !important;
    background-color: transparent;
    border-width: 2px !important;
    padding: 0 20px;
    border-color: var(--form-focul) !important;
    box-sizing: border-box;
    margin:8px 0 0 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

input:focus[type=text]{
    background-color: rgba(255, 255, 255, 0.6);
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,select:focus,textarea:focus{
    border-color: var(--turquesa-primary-color) !important;
    border-width: 3px!important;
}

form label{
    color: black !important;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white;
}

.posicion-planeta{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.orientacion{
    position: relative;
}

.btn-mover{
    margin-left: 40%;
    position: absolute;
}

@media screen and (max-width: 500px ){

    .parrafo-mapa-15{
        font-size: 30px;

    }

    .orientacion{
        position: relative;
    }

    .caja-3{
        width: 100%;
        height: auto;
    }

    .planet-1{
        top: 0;
    }

    .planet-2{
        top: 0;
    }

    .planet-3{
        top: 0;
    }

    .planet-4{
        top: 0;
    }

    .planet-5{
        top: 0;
    }

    .planet-6{
        top: 0;
    }
}

.horizontal-form1{
    display: flex;
}

.horizontal-form2{
    display: flex;
}

.horizontal-form3{
    display: flex;
}


