.picture{
    background-image: url("#{resource['img/alumno/lineas-rosas.svg']}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.titulo-mapa-15{
    display: inline-block;
    left: 0;
    top: 0;
    margin: 40px;
}

.caja-1{
    height: 200px;
}

.caja-2{
    height: 80px;
}

.caja-3{
    width: 100%;
    height: auto;
}

.caja-4{
    right: 20%;
    bottom: 10%;
}

.caja-5{
    right: 15%;
    bottom: 0%;
}

.parrafo-mapa-15{
    font-weight: bold;
    font-size: 50px;
    color: white;
    z-index: 2;
}

.titulo-mapa-15 > .parrafo-mapa-15{
    font-size: 30px;
}

.subtitulo-15{
    right: 0;
}

[class^="planet"]{
    width: 150px;
    height: 150px;
}

.planet-1{
    background-image: url("#{resource['img/alumno/planetas/planeta1.svg']}");
    background-size: cover;
    background-repeat: no-repeat;
    left: 45%;
}

.planet-2{
    background-image: url("#{resource['img/alumno/planetas/planeta2.svg']}");
    background-size: cover;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    left: 25%;
    top: 0;
}

.planet-3{
    background-image: url("#{resource['img/alumno/planetas/planeta3.svg']}");
    background-size: cover;
    background-repeat: no-repeat;
    left: 55%;
    top: 0;
}

.planet-4{
    background-image: url("#{resource['img/alumno/planetas/planeta4.svg']}");
    background-size: cover;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    left: 37%;
    top: 0;
}


.planet-5{
    background-image: url("#{resource['img/alumno/planetas/planeta5.svg']}");
    background-size: cover;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    left: 25%;
    top: 0;
}

.planet-6{
    background-image: url("#{resource['img/alumno/planetas/tierra.svg']}");
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    left: 43%;
    top: 0;
}

input[type=text],input[type=email],input[type=password],select,textarea{
    border-radius: 8px !important;
    background-color: transparent;
    border-width: 2px !important;
    padding: 0 20px;
    border-color: var(--form-focul) !important;
    box-sizing: border-box;
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,select:focus,textarea:focus{
    border-color: var(--turquesa-primary-color) !important;
    border-width: 3px!important;
}

form label{
    color: black !important;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white;
}

.posicion-planeta{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.orientacion{
    position: relative;
}

@media screen and (max-width: 500px ){

    .parrafo-mapa-15{
        font-size: 30px;

    }

    .orientacion{
        position: relative;
    }

    .caja-3{
        width: 100%;
        height: auto;
    }

    .planet-1{
        top: 0;
    }

    .planet-2{
        top: 0;
    }

    .planet-3{
        top: 0;
    }

    .planet-4{
        top: 0;
    }

    .planet-5{
        top: 0;
    }

    .planet-6{
        top: 0;
    }
}