.fondo-mapa-5{
    background: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/mounstro/whose.svg") no-repeat right top/20% , url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/pop-art/bomba.svg") no-repeat left top/32%,
    url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/mapa-mental/lineas-azules.svg") no-repeat center center/cover;
}
.titulo-mapa-5{
    position: absolute;
    top: 10%;
    left:6%;
    font-weight: bold;
}

.contenido-5{
    margin-top:400px;
}
.imagen-nube-5{
    background: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/pop-art/nube.svg") no-repeat center/100% 100%;
    background-origin: content-box;
    width: calc(100% / 3);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.nube-5{
    background: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/pop-art/nube.svg") no-repeat center/100% 100%;
    background-origin: content-box;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.nube-5 > textarea{
    min-height: 100px;
    max-height: 100px;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.nave-5{
    background: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/pop-art/Nave-1.svg") no-repeat center/100% 100%;
    background-origin: content-box;
    height: 200px;
}
.nave-5-2{
    background: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/pop-art/Nave-2.svg") no-repeat center/100% 100%;
    background-origin: content-box;
    height: 200px;
}
.nave-5-1{
    background: url("https://tecolotl-multimedia.nyc3.digitaloceanspaces.com/Tecolotl/resources/img/alumno/pop-art/Nave-principal.svg") no-repeat center/100% 100%;
    background-origin: content-box;
    height: 200px;
}
.input-5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center ;
}
.input-5 >textarea{
    min-height: calc((200px / 3) - 3px);
    max-height: calc((200px / 3) - 3px);
    min-width: 100%;
    max-width: 100%;
    margin-top: 3px;
    box-sizing: border-box;
}
.mensaje-alerta-5{
    color: red;
    width: 100%;
}

.boton-gral{
    position: relative;
    bottom: -30px;
    margin: 0;
}

.movimiento5{
    transform: rotate(15deg);
    top: 10%;
    right: 34%;
}

.finalizado5{
    width: 300px;
    height: 200px;
    position: absolute;
}

@media screen and (max-width: 1025px){

    .titulo-mapa-5{
        position: absolute;
        top: 7%;
        left:4%;
        font-weight: bold;
        font-size: 20px;
    }
    .contenido-5{
        margin-top:300px;
    }
}
@media screen and (max-width: 770px){
    .imagen-nube-5{
        width: 100%;
    }
    .titulo-mapa-5{
        position: relative;
        top: 200px;
        left:0;
        text-align: center;
        font-size: 30px;
    }
    .contenido-5{
        margin-top:300px;
    }

    .movimiento5{
        top: 0;
        left: 31%;
    }
}
@media screen and (max-width: 600px){
    .imagen-nube-5{
      width: 100%;
    }
    .titulo-mapa-5{
        position: relative;
        top: 200px;
        left:0;
        text-align: center;
    }
    .contenido-5{
        margin-top:300px;
    }

    .finalizado5{
        width: 200px;
        height: 100px;
    }
    .movimiento5{
        top: 5%;
        left: 19%;
    }
}