*{
    box-sizing: border-box;
}

.oraciones{
    width: 80%;
    height: 60px;
    padding-left: 10px;
    border: 5px solid #D35400;
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    color:black;
    font-weight: bold;
    font-size: 20px;
}
.contenedor-oraciones{
    height: auto;
    width: 100%;
    background: url("#{resource['img/mounstro/naranja.svg']}") no-repeat  center center/ 90% 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenedor-imagen {
    height: 500px;
    overflow: auto;
}


.tabla-imagenes th{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
}
.palabra-imagen{
    min-width: 150px;
    border-radius: 5px;
    background: white;
    border:5px solid #F4D03F;
    padding: 3px 4px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}
.palabras{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("#{resource['img/mounstro/morado.svg']}") no-repeat center center/90% 90%;
}
.palabras .palabra-imagen{
    margin-top: 10px;
}
.tabla-imagenes tbody > tr > td:nth-child(2){
    background-color: rgba(255, 255, 255 ,0.3);

}

.tabla-imagenes tbody > tr > td:nth-child(2) > .palabra-imagen{
    margin: 0 auto;
}

.rombo{
    --rombo:290px;
    width: var(--rombo);
    height: var(--rombo);
    transform: rotate(45deg);
    position: absolute;
    top: calc(50% - (var(--rombo)/2));
    left: calc(50% - (var(--rombo)/2));
    z-index: 2;
    border: 6px solid white;

}
.rombo-palabra{
    position: relative;
    display: inline-block;
    width: 280px;
    color: white;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 17px;
    z-index: 4;
    text-align: center;

}

.talking-contenedor{
    height: 420px;
    /*background-color: #650CE8;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.fondo-more{
    /*background: url("#{resource['img/alumno/cuadro-fondo.svg']}") no-repeat center center/100% 100%;*/
    background-color: white;
    border: 5px solid #038f72;
    border-radius: 20px;
    height: 600px;
    padding: 10px;

}

[class^="more-"]{
    width: 50%;
    height: 50%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content:center ;
    color: black;
    font-size: 21px;
    font-weight: bold;


}
[class^="more-"] span{
    width: 80%;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(255,255,255,0.9);
    text-align: justify;
    padding: 8px;
    border-radius: 8px;
}

.more-uno{
    border: 3px dashed black;
    border-radius: 20px;
    box-sizing: border-box;
    color: #038f72;
    top: 0;
    left: 0;
    padding-left: 3%;
    padding-right: 3%;
    /*!*margin-top: 10px;*!*/
    /*!*margin-left: 10px;*!*/
    /*width: 585px;*/
    /*height: 285px;*/
}

.more-dos{
    border: 3px dashed black;
    border-radius: 20px;
    color: #038f72;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    /*!*margin-top: 10px;*!*/
    /*!*margin-right: 10px;*!*/
    /*width: 585px;*/
    /*height: 285px;*/
}
.more-tres{
    border: 3px dashed black;
    border-radius: 20px;
    color: #038f72;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    padding-left: 3%;
    padding-right: 3%;
    /*margin-left: 10px;*/
    /*margin-bottom: 10px;*/
    /*width: 585px;*/
    /*height: 285px;*/
}

.more-cuatro{
    border: 3px dashed black;
    border-radius: 20px;
    color: #038f72;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    /*width: 585px;*/
    /*height: 285px;*/
}

.respuesta-oracion{
    min-width: auto;
    max-width: 100px;
    background-color: #C0392B;
    color: white;
    display: inline-block;
    margin-left: 8px;
    margin-top: 3px;
    padding: 5px 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Sniglet, sans-serif;
}
.contedor-oraciones{
    height: 150px;
    overflow: auto;
    /*background-color: rgba(255,255,255,0.3);*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
}

.oracion-completar{
    height: 150px;
    color: black;
    font-family: Sniglet, sans-serif;
    background-color: white;
    border-radius: 8px;


}

.contenedor-respuesta-oracion{
    background-color: rgba(52, 73, 94, 0.5);
    box-shadow: 3px 3px 5px black;
    padding: 2px 0;
    border-radius: 5px;
    min-width: auto;
    max-width: 100px;
    display: inline-block;
    text-align: center;
}
.oracion-completar span.uk-sortable-empty {
    min-height: 25px;
    min-width: 95px;
}

.oracion-completar .respuesta-oracion{
    padding: 2px;
    margin: 0;

}
[class^="caja-"]{
    border: 6px solid #038f72;
    background-color: white;
    margin-bottom: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    color: black;
    font-weight: bold;
    font-family: 'Sniglet', sans-serif;
    position: relative;
}

.imagen-oracion{
    width: 90px;
    height: 90px;
    background: url("#{resource['img/mounstro/who.svg']}") no-repeat center/100% 100%;
    margin-right: 15px;
    border: 5px solid #D35400;
    border-radius: 50%;
}

.imagen-relacionar{
    width: 80%;
    min-height: 250px;
    border: 4px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.imagen-relacionar img{
    width: 80%;
    height: auto;

}
.icono-relacion-img{
    width: 50px;
    height: 50px;
    background: url("#{resource['img/mounstro/whom.svg']}") no-repeat center/100% 100%;
    margin-right: 9px;
    border: 5px solid #D35400;
    border-radius: 50%;
    margin-top: 5px;
}

.oraciones-relacion-img{
    height: 50px;
    padding-left: 10px;
    border: 5px solid #D35400;
    background-color: white;
    border-radius: 3px;
    margin-top: 8px;
    color:black;
    font-weight: bold;
    font-size: 20px;
}
.respuesta-imagen-contenedor{
    width: 65%;
    margin: 13px auto;
}


.oraciones-relacion-img > .palabra-imagen{
    border: none;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.respuesta-imagen{
    width: 100%;
    height: 100%;
}
.complete-sentences ul:nth-child(2){
    height: 180px;
    border: 6px solid #D35400;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.complete-sentences div>span{
    background: url("#{resource['img/mounstro/whom.svg']}" ) no-repeat left center/32px 32px white;
    padding: 5px 0 5px 35px;
    min-width: 120px;
    display: inline-block;
    margin-left: 5px;
    border: #D35400 solid 3px;
    font-weight: bold;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.respuesta-ordenar-oracion{
    background-color: transparent;
    padding: 2px 0;
    min-width: 100px;
    min-height: 20px;
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid white;
}

.remplazar p .respuesta-ordenar-oracion span {
    color: #00a49d;
    font-weight: bold;
}

.fin-ordenar{
    width: 300px;
    height: 200px;
}

.fin-movimiento{
    position: absolute;
    top: 5%;
    left: 15%;
    transform: rotate(15deg);
}

.terminado{
    width: 250px;
    height: 200px;
    background: url("#{resource['img/alumno/pop-art/boton-finished.svg']}") no-repeat center/100% 100%;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    z-index: 6;
}

.ubicado{
    left: 11%;
    top: 5%;
    transform: rotate(15deg);
}

.mosca{
    background-image: url("#{resource['img/alumno/fondo-mosca.svg']}");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 31%;
    height: 250px;
    margin: auto;
    position: relative;
    top: 38px;
}

h1 + div > div > p{
    position: absolute;
    color: #038f72;
    font-weight: bold;
    font-size: 17px;
    left: 16%;
    top: 10%;
}

form>input+span+div>input{
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .mosca{
        width: 45%;
    }
    .fin-ordenar{
        width: 220px;
        height: 110px;
    }

    .fin-movimiento{
        position: absolute;
        top: 12%;
        left: 13%;
    }
    .terminado{
        width: 200px;
        height: 100px;
    }
    .ubicado{
        left: 16%;
        top: 12%;
    }
}

@media screen and (max-width: 768px) {
    .mosca{
        width: 70%;
    }
    h1 + div > div > p{
        left: 24%;
    }
    .oraciones{
        font-size: 18px;
    }
    .fin-ordenar{
        width: 170px;
        height: 80px;
    }

    .fin-movimiento{
        position: absolute;
        top: 15%;
        left: 3%;
    }
    .terminado{
        width: 160px;
        height: 80px;
    }
    .ubicado{
        left: 2%;
        top: 14%;
    }
}

@media screen and (max-width: 450px){
    .mosca{
        width: 80%;
        top: 62px;
    }
    h1 + div > div > p{
        font-size: 12px;
        top: 18%;
    }

    .oraciones{
        font-size: 10px;
    }

    .fin-ordenar{
        width: 140px;
        height: 70px;
    }

    .fin-movimiento{
        position: absolute;
        top: 22%;
        left: 3%;
        transform: rotate(0deg);
    }
    .terminado{
        width: 120px;
        height: 60px;
    }
    .ubicado{
        left: 3%;
        top: 24%;
    }
}